{% extends "layouts/main.html" %}
{% block navigation %}
  <nav>
  <ul>
    <li><a href="{{ url_for('outils_corpus') }}"><i class="fas fa-book-open"></i> <em>Corpus</em></a></li>
    <li><a href="{{ url_for('outils_fouille') }}"><i class="fa-solid fa-pen-to-square"></i> <em>Annotation automatique</em></a></li>
    <li><a href="{{ url_for('outils_visualisation') }}"><i class="fa-solid fa-chart-column"></i> <em>Visualisation</em></a></li>
    <li><a href="{{ url_for('outils_pipeline') }}" class="active"><i class="fa-solid fa-timeline"></i> <em>Chaînes de traitement</em></a></li>
  </ul>
  </nav>
{% endblock %}

{% block content %}
  <h2>Chaînes de traitement</h2>
  <div class="tools">
    <ul>
      <li><i class="fa-solid fa-file-image"></i><a href="{{ url_for('ocr_ner') }}">OCR -> NER</a></li>
      <li><i class="fa-solid fa-file-image"></i><a href="{{ url_for('ocr_map') }}">OCR -> MAP</a></li>
    </ul>
  </div>

  {% block tool %}{% endblock %}
{% endblock %}
