{% extends "layouts/main.html" %}
{% block navigation %}
  <nav>
  <ul>
    <li><a href="{{ url_for('outils_corpus') }}"><i class="fas fa-book-open"></i> <em>Corpus</em></a></li>
    <li><a href="{{ url_for('outils_fouille') }}"><i class="fa-solid fa-pen-to-square"></i> <em>Annotation automatique</em></a></li>
    <li><a href="{{ url_for('outils_visualisation') }}" class="active"><i class="fa-solid fa-chart-column"></i> <em>Visualisation</em></a></li>
    <li><a href="{{ url_for('outils_pipeline') }}"><i class="fa-solid fa-chart-column"></i> <em>Chaîne de traitement</em></a></li>
  </ul>
  </nav>
{% endblock %}

{% block content %}
  <h2>Visualisation</h2>
  <div class="tools" style="width:900px">
    <ul>
      <li><i class="fa-solid fa-map-location-dot"></i><a href="https://obtic.sorbonne-universite.fr/tanagra/map" target="_blank">Tanagra</a></li>
    </ul>
    <p style="margin-bottom:35px">Tanagra détecte les noms de lieux dans du texte et les place sur une carte. Langues supportées : français, anglais et allemand. </p>
    <ul>
      <li><i class="fa-solid fa-eye"></i><a href="https://github.com/YoannDupont/minerva" target="_blank">Minerva</a></li>
    </ul>
    <p style="margin-bottom:35px">Minerva est un outil de lecture distante. A partir d'un texte annoté en entités nommées, il permet de visualiser les réseaux de cooccurrences entre celles-ci. A partir de l'annotation en opinions / sentiments effectuée par l'outil Ariane, Minerva permet de visualiser les faisceaux d'opinions et sentiments liées aux entités nommées d'un texte.</p>
    <ul>
      <li><i class="fa-solid fa-magnifying-glass-chart"></i><a href="https://obvil.huma-num.fr/ariane/" target="_blank">Ariane</a></li>
    </ul>
    <p>Ariane est une interface web pour l'exploration et la visualisation de corpus annotés. Elle permet de rechercher des mots au sein de passages annotés selon une ontologie linguistique (sentiments, opinions, etc.). L'interface propose des statistiques et des visualisations autour des résultats, ainsi que des fonctionnalités de filtrage et de lecture synthétique.</p>
  </div>
{% endblock %}
