{% extends "index.html" %} 

{% block header %} 
  {{ super() }} 
{% endblock %} 

{% block content %} 
<style>
  .instruction {
    padding: 18px;
    background-color: rgb(250, 235, 215, 0.3);
    margin: 15px 8px;
  }

  .instruction img {
    display: block;
    margin-top: 12px;
  }

  .instruction p span:first-child {
    font-size: 1.2em;
  }

  .instruction p {
    text-align: justify;
  }
</style>
<div class="outil">
  <h3> SEM sur Pandore</h3>
    <p>L'outil implémenté sur Pandore est l'analyseur SEM. <a href="https://github.com/YoannDupont/SEM" target="_blank"><i class="fa-brands fa-github"></i> GitHub du projet</a></p>
  <div class="instruction">
      <p> Votre document doit être au format de texte brut. Le document à télécharger sera au format CoNLL 2003 (à ouvrir avec un éditeur de type Excel), avec une colonne pour le mot et une pour l'étiquette morphosyntaxique.</p>
      <p> Voici un exemple du document de sortie : <img src="{{ url_for('static', filename='img/capture_pos_exemple.png') }}"></p>
    </div>
  </div>
</div>
  {% endblock %}
  {% block footer %} {{ super() }} {% endblock %}