{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
<div class="selection">
  <div style="text-align: left;"><a href="{{ url_for('extraction_information')}}" style="color:#f2a800; text-decoration:none;"><< Tâche précédente</a></div>
    <div style="text-align: right;"><a href="{{ url_for('outils_visualisation')}}" style="color:#f2a800; text-decoration:none;">Tâche suivante >></a></div>
  <h2>Analyses</h2>
  <p style="text-align: center;">Cette page propose plusieurs analyses à effectuer sur un texte</p>
  <div class="container">
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('analyse_linguistique') }}'">
      <div class="rubrique-icon"><img alt="Analyse des dépendances" src="{{ url_for('static', filename='img/unknown.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>Analyse linguistique</h3></span>
      <span class="rubrique-text"><p>Détection du language, Hapax, N-Grams, Analyse des dépendances</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('analyse_statistique') }}'">
      <div class="rubrique-icon"><img alt="Analyse des dépendances" src="{{ url_for('static', filename='img/unknown.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>Analyse statistique</h3></span>
      <span class="rubrique-text"><p>Longueur moyenne des phrases, Fréquence de mots, Co-occurrences, Embeddings</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('analyse_lexicale') }}'">
      <div class="rubrique-icon"><img alt="Analyse des dépendances" src="{{ url_for('static', filename='img/unknown.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>Analyse lexicale</h3></span>
      <span class="rubrique-text"><p>Dispersion lexicale, Diversité lexicale, Relations lexicales, Spécificités lexicales</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('analyse_texte') }}'">
      <div class="rubrique-icon"><img alt="Analyse des dépendances" src="{{ url_for('static', filename='img/unknown.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>Analyse de texte</h3></span>
      <span class="rubrique-text"><p>Détection de subjectivité, Analyse de sentiments, Analyse d'émotions, Score de lecture, Comparaison</p></span>
    </div>
    
  </div>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}