{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
<div class="selection">
  <div style="text-align: left;"><a href="{{ url_for('outils_corpus')}}" style="color:#f2a800; text-decoration:none;"><< Tâche précédente</a></div>
  <div style="text-align: right;"><a href="{{ url_for('generation_texte')}}" style="color:#f2a800; text-decoration:none;">Tâche suivante >></a></div>
  <h2>{{ _('Chaînes de traitement') }}</h2>
  <p style="text-align: center;">Cette page offre deux chaînes d'entraînements qui combinent plusieurs outils proposés dans la toolbox.</p>
  <div class="container">
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('ocr_ner') }}'">
      <div class="rubrique-icon"><img alt="OCR -> NER" src="{{ url_for('static', filename='img/ocr_ner.png')}}"></div>
      <span class="rubrique-title"><h3>OCR -> NER</h3></span>
      <span class="rubrique-text"><p>{{ _('Entrée : textes non numérisés') }} <br>{{ _('Sortie : textes annotés') }}</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('ocr_map') }}'">
      <div class="rubrique-icon"><img alt="Épiméthée" src="{{ url_for('static', filename='img/ocr_map.png')}}"></div>
      <span class="rubrique-title"><h3>Épiméthée</h3></span>
      <span class="rubrique-text"><p>OCR -> Map<br>{{ _('Entrée : textes numérisés ou non') }} <br>{{ _('Sortie : coordonnées géographiques des entités de lieux et leur visualisation sur une carte') }}.</p></span>
    </div>
  </div>
  <!--<div class="box-outil-visu">
    <div class="visu-img"><a href="{{ url_for('ocr_map') }}"></a></div>
    <span class="visu-title"><a href="{{ url_for('ocr_map') }}"><h3 style="font-family:'Comprehension', serif;">Épiméthée</h3></a></span>
    <span class="visu-text"><p>OCR -> Map<br>Permet de visualiser les entités de lieu d'un texte de façon interactive.</p></span>
  </div>-->
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}