{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<div class="selection">
  <div style="text-align: left;"><a href="{{ url_for('search_tools')}}" style="color:#f2a800; text-decoration:none;"><< Tâche précédente</a></div>
    <div style="text-align: right;"><a href="{{ url_for('collecter_corpus')}}" style="color:#f2a800; text-decoration:none;">Tâche suivante >></a></div>
  <h2>Visualisation</h2>
  <p style="text-align: center;">Cette page propose plusieurs outils pour visualiser divers types d'informations selon les documents proposés.</p>
  <div class="container-visu">
    <div class="box-outil-visu">
      <div class="visu-img"><a href="https://obtic.sorbonne-universite.fr/tanagra/map"><img alt="visualisation Tanagra" src="{{ url_for('static', filename='img/tanagra_BCH_1877_2.png')}}"></a></div>
      <span class="visu-title"><a href="https://obtic.sorbonne-universite.fr/tanagra/map"><h3 style="font-family:'Comprehension', serif;">Tanagra v1</h3></a></span>
      <span class="visu-text"><p>{{ _("Cartographie des lieux dans les textes") }}</p></span>
    </div>

    <div class="box-outil-visu">
      <div class="visu-img"><a href="https://github.com/obtic-sorbonne/Tanagra2/blob/main/Tanagra.ipynb"><img alt="visualisation Tanagra" src="{{ url_for('static', filename='img/tanagra_v2.png')}}"></a></div>
      <span class="visu-title"><a href="https://github.com/obtic-sorbonne/Tanagra2/blob/main/Tanagra.ipynb"><h3 style="font-family:'Comprehension', serif;">Tanagra v2</h3></a></span>
      <span class="visu-text"><p>{{ _("Analyse de sentiments et cartographie des lieux dans les textes") }}</p></span>
    </div>

    <div class="box-outil-visu">
      <div class="visu-img"><a href="{{ url_for('renard') }}"><img alt="Renard" src="{{ url_for('static', filename='img/renard.png')}}"></a></div>
      <span class="visu-title"><a href="{{ url_for('renard') }}"><h3 style="font-family:'Comprehension', serif;">Renard</h3></a></span>
      <span class="visu-text"><p>Renard (<span style="font-style: italic;">Relationships Extraction from NARrative Documents</span>) permet d'extraire et visualiser les <em>réseaux de personnages</em> dans un texte.</p></span>
    </div>

    <div class="box-outil-visu">
      <div class="visu-img"><a href="https://github.com/YoannDupont/minerva" target="_blank"><img alt="visualisation Minerva" src="{{ url_for('static', filename='img/minerva.png') }}"></a></div>
      <span class="visu-title"><a href="https://github.com/YoannDupont/minerva" target="_blank"><h3 style="font-family:'Comprehension', serif;">Minerva</h3></a></span>
      <span class="visu-text"><p>Minerva est un outil de lecture distante. A partir d'un texte annoté en entités nommées, il permet de visualiser les <em>réseaux de cooccurrences</em> entre celles-ci. A partir de l'annotation en opinions / sentiments effectuée par l'outil Ariane, Minerva permet de visualiser les faisceaux d'opinions et sentiments liées aux entités nommées d'un texte.</p></span>
    </div>
  </div>
</div>
{% endblock %}