{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('analyses')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
        <h2>{{ _('Embeddings') }}</h2>
    <p>{{ _('Cette page permet de travailler avec des embeddings') }}, {{ _('soit des représentations numériques de mots utilisées pour capturer les relations et') }} {{ _('les similitudes entre eux dans un espace de dimension inférieure') }}.<br>
        <br>
    <ul class="item-list" style="margin-left: 3em;">
        <li><hi style="font-weight: bold;">{{ _('Similarité') }}</hi> : {{ _("Recherche des mots les plus similaires à un mot donné, selon un modèle d'") }}<i>embedding</i>. <br>{{ _('Le score : similarité cosinus entre les représentations vectorielles du mot cible et tous les autres mots du vocabulaire') }} (<b>1</b> {{ _('indique une similarité parfaite') }}, <b>0</b> {{ _('indique aucune similarité et') }} <b>-1</b> {{ _('indique une dissemblance parfaite') }}).</li>
        <li><hi style="font-weight: bold;">Relations</hi> : {{ _("Recherche des relations entre des mots, tel qu'un mot qui se rapporte à 'woman' de la même manière que 'man' se rapporte à 'king'") }}</li>
        <li><hi style="font-weight: bold;">Clustering</hi> : {{ _("Regroupement de mots spécifiques en groupes à l'aide de leurs représentations vectorielles GloVe et du clustering K-means") }}</li>
    </ul></p></div>
    <br>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_analyses') }}"  target="_blank">{{ _('Voir la documentation') }}</a></p>
    <br>
    <form action="{{ url_for('embedding_tool') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        <div class="relations-input">
            <label for="analysis_type">{{ _("Choisir le type d'analyse") }} :</label>
            <select name="analysis_type" id="analysis_type" required>
                <option value="similarity">{{ _('Similarité') }}</option>
                <option value="relations">Relations</option>
                <option value="clustering">Clustering</option>
            </select>
        </div>
        {{ form.csrf_token }}
        <br>
        <div id="embedding_similarity" class="relations-input">
            <label for="inputText">{{ _('Mot à analyser') }} :</label>
            <input type="text" id="inputText" name="inputText" placeholder="Word to analyze" required>
        </div>
        <div id="embedding_relations" class="relations-input">
            <div style="margin-bottom: 25px; margin-top: 25px;"><label for="inputText">{{ _('Mot à analyser') }} :</label>
            <input type="text" id="input1" name="input1" placeholder="Example: 'woman'" required></div>
            <div style="margin-bottom: 25px;"><label for="inputText">{{ _('Référence') }} :</label>
            <input type="text" id="input2" name="input2" placeholder="Example: 'king'" required></div>
            <div style="margin-bottom: 25px;"><label for="inputText">{{ _('Référence') }} :</label>
            <input type="text" id="input3" name="input3" placeholder="Example: 'man'" required></div>
        </div>
        <div id="embedding_clustering" class="relations-input">
            <label for="inputText" style="display: block; text-align: center;">{{ _('Mots à grouper') }} :</label><br>
            <textarea style="width: auto;" id="words_list" name="words_list" placeholder="Separate words with a semicolon (;)" required></textarea>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">{{ _("Lancer l'analyse") }}</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>{{ _('Traitement en cours...') }}</p>
    </div>
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});

        function toggleNgramFields() {
            var analysisType = document.getElementById("analysis_type").value;
            var embedding_similarity = document.getElementById("embedding_similarity");
            var embedding_relations = document.getElementById("embedding_relations");
            var embedding_clustering = document.getElementById("embedding_clustering");
            if (analysisType === "similarity") {
                embedding_similarity.style.display = "block";
                embedding_relations.style.display = "none";
                embedding_clustering.style.display = "none";
            } 
            else if (analysisType === "relations") {
                embedding_similarity.style.display = "none";
                embedding_relations.style.display = "block";
                embedding_clustering.style.display = "none";
            } 
            else {
                embedding_similarity.style.display = "none";
                embedding_relations.style.display = "none";
                embedding_clustering.style.display = "block";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("analysis_type").addEventListener("change", toggleNgramFields);
            toggleNgramFields(); // Initial call to set visibility based on default selection
        });


</script>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
