{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('preprocessing')}}"><< {{ _('Retour aux tâches') }}</a></div>

    <h2>{{ _('Nettoyage de texte') }}</h2>
    <p>{{ _("Cette page permet de nettoyer un ou plusieurs documents soumis.") }}</p>
    <ul class="item-list" style="margin-left: 3em;">
        <li><strong>{{ _('Minuscules') }}</strong> : {{ _('Mettre tout le texte en minuscules') }}</li>
        <li><strong>{{ _('Ponctuation') }}</strong> : {{ _('Supprimer toute la ponctuation') }}</li>
        <li><strong>{{ _('Mots-vides') }}</strong> : {{ _("Supprimer les mots très courants (stopwords), ex: déterminants, conjonctions, auxiliaires) ") }}</li>
        <li><strong>{{ _('Supprimer lignes vides/excessives') }}</strong> : {{ _("Enlever les lignes vides ou ne contenant que des caractères spéciaux") }}</li>
        <li><strong>{{ _('Corriger retours OCR (-)') }}</strong> : {{ _("Joindre les mots coupés par un retour de ligne avec un tiret et supprimer les autres retours") }}</li>
    </ul>

    <p style="text-align:center;padding:20px">
        <a href="{{ url_for('documentation_preprocessing') }}" target="_blank">{{ _('Voir la documentation') }}</a>
    </p>

    <form action="{{ url_for('removing_elements') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        <div class="relations-input">
            <label for="removing_type">{{ _('Choisir le type de modification') }} :</label>
            <select name="removing_type" id="removing_type" required>
                <option value="lowercases">{{ _('Minuscules') }}</option>
                <option value="punctuation">{{ _('Ponctuation') }}</option>
                <option value="stopwords">{{ _('Mots-vides') }}</option>
                <option value="lowercases_punctuation">{{ _('Minuscules + Ponctuation') }}</option>
                <option value="lowercases_stopwords">{{ _('Minuscules + Mots-vides') }}</option>
                <option value="punctuation_stopwords">{{ _('Ponctuation + Mots-vides') }}</option>
                <option value="lowercases_punctuation_stopwords">{{ _('Minuscules + Ponctuation + Mots-vides') }}</option>
                <option value="remove_excessive_lines">{{ _('Supprimer lignes vides/excessives') }}</option>
                <option value="fix_ocr_linebreaks">{{ _('Corriger retours OCR (-)') }}</option>
            </select>
        </div>

        <div class="relations-input" id="stopwords_fields" style="display: none;">
            <label for="selected_language">{{ _('Choisissez la langue') }} :</label>
            <select name="selected_language" id="selected_language">
                <option value="german">{{ _('Allemand') }} (de)</option>
                <option value="english">{{ _('Anglais') }} (en)</option>
                <option value="danish">{{ _('Danois') }} (da)</option>
                <option value="spanish">{{ _('Espagnol') }} (es)</option>
                <option value="finnish">{{ _('Finnois') }} (fi)</option>
                <option value="french" selected>{{ _('Français') }} (fr)</option>
                <option value="greek">{{ _('Grec') }} (el)</option>
                <option value="italian">{{ _('Italien') }} (it)</option>
                <option value="dutch">{{ _('Néerlandais') }} (nl)</option>
                <option value="portuguese">{{ _('Portugais') }} (pt)</option>
                <option value="russian">{{ _('Russe') }} (ru)</option>
            </select>
        </div>

        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">{{ _("Déposer le(s) fichier(s) ou cliquer ici") }}.</p>
        </div>

        {{ form.csrf_token }}
        <button style="display:block;margin:auto;margin-top:20px;">{{ _('Prétraitement') }}</button>
    </form>

    {% if msg != "" %}
    <div><p>{{ msg }}</p></div>
    {% endif %}

    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n">
            <div class="ldio-b8p5li8dt1u"><div></div></div>
        </div>
        <p>{{ _('Traitement en cours...') }}</p>
    </div>
</div>

<script>
function togglestopwordFields() {
    const removing_type = document.getElementById("removing_type").value;
    document.getElementById("stopwords_fields").style.display = 
        removing_type.includes("stopwords") ? "block" : "none";
}

document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("removing_type").addEventListener("change", togglestopwordFields);
    togglestopwordFields(); // initial visibility
});

// Update file input message
$('form input[type=file]').change(function () {
    let nb_files = this.files.length;
    let msg = nb_files + " fichier(s) sélectionné(s)";
    for(let i=0; i < Math.min(3, nb_files); i++){
        msg += "<br/><span class='filename_preview'>" + this.files[i].name + "</span>";
    }
    if(nb_files > 3) msg += "<span class='filename_preview'> et " + (nb_files - 3) + " autres.</span>";
    $('#form_msg').html(msg);
});
</script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
