{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('generation_texte')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <h2>{{ _('Ajustement du niveau de lecture du texte') }}</h2>
    <p>{{ _("Cette tâche permet de rendre un texte plus accessible en adaptant sa complexité selon différents niveaux de lecture, allant du niveau CE2 (fin de primaire) jusqu'au niveau universitaire") }}.<br>
    {{ _("Pour cela, plusieurs techniques sont utilisées ") }}:<ul>
    <li style="margin-left: 2em;">{{ _("La simplification lexicale, qui remplace les mots difficiles par des synonymes plus simples ou des expressions courantes") }},</li>
    <li style="margin-left: 2em;">{{ _("Le raccourcissement des phrases longues et complexes pour faciliter la compréhension") }},</li>
    <li style="margin-left: 2em;">{{ _("L'évaluation de la lisibilité à l'aide d'indices spécifiques, permettant de mesurer et d'ajuster la difficulté globale du texte") }}.</li>
    </ul>
    {{ _("L'objectif est d'obtenir un contenu clair et compréhensible, tout en respectant le sens et les informations essentielles, afin de toucher des publics très variés selon leurs capacités de lecture") }}.</p>
    <br>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_generation') }}"  target="_blank">{{ _('Voir la documentation') }}</a> / <a href="{{ url_for('tutoriel_generation') }}"  target="_blank">{{ _('Voir le tutoriel') }}</a></p>
    <br>
    <p style="text-align: center;">{{ _("Outil à venir") }}</p>
    <!-- <form action="{{ url_for('split_text') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        {{ form.csrf_token }}
        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">Déposer le(s) fichier(s) ou cliquer ici.</p>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">Télécharger les fichiers</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>-->
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
</script>
</div>
</div>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}