{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('generation_texte')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <h2>Ajustement du niveau de lecture du texte</h2>
    <p style="text-align: center;padding:20px"><a href="" target="_blank">{{ _("Voir la documentation") }}</a></p>
    <p style="text-align: center;padding:20px"><a href="" target="_blank">{{ _("Voir le tutoriel") }}</a></p>
</div>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}