{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('analyses')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
        <h3>Analyse lexicale</h3>
    <p>Cette page permet d'opérer divers types d'analyses lexicales sur un ou plusieurs documents soumis.<br>
        <br>
    <ul class="item-list" style="margin-left: 3em;">
        <li><hi style="font-weight: bold;">Dispersion lexicale</hi> : Mesure montrant la distribution et l'occurrence de mots spécifiques dans un texte</li>
        <li><hi style="font-weight: bold;">Diversité lexicale</hi> : Mesure de la diversité du vocabulaire d'un texte en évaluant le nombre et la variété des mots utilisés</li>
        <li><hi style="font-weight: bold;">Relations lexicales</hi> : Mesure de la diversité du vocabulaire d'un texte en évaluant le nombre et la variété des mots utilisés</li>
        <li><hi style="font-weight: bold;">Spécificités lexicales</hi> : Score identifiant le caractère unique d'un mot ou d'une phrase dans un document par rapport à un corpus de texte plus vaste</li>
    </ul></p></div>
    <br>
    <form action="{{ url_for('analyze_lexicale') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        <div class="centered-div">
            <label for="analysis_type">Choisir le type d'analyse :</label>
            <select class="styled-select" name="analysis_type" id="analysis_type" required>
                <option value="lexical_dispersion">Dispersion lexicale</option>
                <option value="lexical_diversity">Diversité lexicale</option>
                <option value="lexical_relationships">Relations lexicales</option>
                <option value="lexical_specificity">Spécificités lexicales</option>
            </select>
        </div>
        {{ form.csrf_token }}
        <br>
        <div class="centered-input-div" id="words_to_analyze" style="display: none;">
            <label for="words_to_analyze">Mots à analyser :</label>
            <input type="text" id="words_to_analyze" name="words_to_analyze" multiple required><br>
        </div>
        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">Déposer le(s) fichier(s) ou cliquer ici.</p>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">Télécharger les fichiers</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
        function toggleNgramFields() {
            var analysisType = document.getElementById("analysis_type").value;
            var words_to_analyze = document.getElementById("words_to_analyze");
            if (analysisType === "lexical_dispersion") {
                words_to_analyze.style.display = "block";
            } else {
                words_to_analyze.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("analysis_type").addEventListener("change", toggleNgramFields);
            toggleNgramFields(); // Initial call to set visibility based on default selection
        });

</script>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
