{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('analyses')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
        <h3>{{ _('Analyse de texte') }}</h3>
    <p>{{ _("Cette page permet d'opérer divers types d'analyses textuelles sur un ou plusieurs documents soumis") }}.<br>
        <br>
    <ul class="item-list" style="margin-left: 3em;">
        <li><hi style="font-weight: bold;">{{ _('Détection de subjectivité') }} (Option 1)</hi> : {{ _("Détection du caractère objective ou subjective d'une phrase, la subjectivité étant présente") }} {{ _('si son contenu est basé sur ou influencé par des sentiments, des goûts ou des opinions personnelles') }}</li>
        <li><hi style="font-weight: bold;">{{ _('Analyse de sentiments') }} (Option 2)</hi> : {{ _("Processus de détermination du ton positif, négatif ou neutre d'un texte") }}</li>
        <li><hi style="font-weight: bold;">{{ _("Analyse d'émotions") }} (Option 3)</hi> : {{ _("Processus d'identification d'émotions spécifiques exprimées dans un texte") }} : {{ _('joie, colère, tristesse...') }}</li>
        <li><hi style="font-weight: bold;">{{ _('Score de lecture') }} (Option 4)</hi> : {{ _("Outils utilisés pour évaluer la lisibilité d'un texte écrit et") }} {{ _('fournissant une mesure quantitative de la facilité ou de la difficulté à comprendre un texte') }}</li>
    </ul></p></div>
    <br>
    <form action="{{ url_for('analyze_text') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        <div class="centered-div">
            <label for="analysis_type">{{ _("Choisir le type d'analyse") }} :</label>
            <select class="styled-select" name="analysis_type" id="analysis_type" required>
                <option value="subjectivity_detection">Option 1</option>
                <option value="sentiment_analysis">Option 2</option>
                <option value="emotion_analysis">Option 3</option>
                <option value="readibility_scoring">Option 4</option>
                <option value="subjectivity_sentiment">{{ _('Options 1 et 2') }}</option>
                <option value="subjectivity_emotion">{{ _('Options 1 et 3') }}</option>
                <option value="subjectivity_sentiment_emotion">{{ _('Options 1, 2 et 3') }}</option>
                <option value="subjectivity_sentiment_emotion_readability">{{ _('Options 1, 2, 3 et 4') }}</option>
            </select>
        </div>
        <br>
        <div class="centered-input-div" id="emotion_type" >
            <label for="emotion_type">{{ _("Choisir le type d'analyse") }} :</label>
            <select name="emotion_type" id="emotion_type" required>
                <option value="analyse1">{{ _('Score + visualisation') }}</option>
                <option value="analyse2">{{ _('Visualisation circulaire') }}</option>
            </select>
        </div>
        {{ form.csrf_token }}
        <br>
        <!--<div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">Déposer le(s) fichier(s) ou cliquer ici.</p>
        </div>-->
        <div style="display: block; margin: auto; width: max-content;">
            <div id="input_text">
          <textarea name="input_text" rows="4" cols="50" placeholder="Start a newline to add new sentences" maxlength="5000"></textarea><br><br>
        </div>
      </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">{{ _("Lancer l'analyse") }}</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
        function toggleNgramFields() {
            var analysisType = document.getElementById("analysis_type").value;
            var emotion_type = document.getElementById("emotion_type");
            if (analysisType === "emotion_analysis") {
                emotion_type.style.display = "block";
            } else {
                emotion_type.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("analysis_type").addEventListener("change", toggleNgramFields);
            toggleNgramFields(); // Initial call to set visibility based on default selection
        });

</script>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
