{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('analyses')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
    <h3>{{ _('Analyse linguistique') }}</h3>
    <p>{{ _("Cette page permet d'opérer divers types d'analyse linguistique sur un ou plusieurs documents soumis") }}.<br>
        <br>
    <ul class="item-list" style="margin-left: 3em;">
        <li><hi style="font-weight: bold;">{{ _('Détection du language') }} (Option 1)</hi> : {{ _("Détection automatique de la langue d'un texte") }} {{ _("à l'aide de diverses bibliothèques et méthodes") }}</li>
        <li><hi style="font-weight: bold;">Hapax (Option 2)</hi> : {{ _("Détection de mots qui n'apparaissent qu'une seule fois dans un texte") }}</li>
        <li><hi style="font-weight: bold;">N-Grams (Option 3)</hi> : {{ _('Détection de séquences contiguës de n éléments (mots, caractères ou symboles)') }} {{ _('dans un texte ou un discours donné') }}</li>
        <li><hi style="font-weight: bold;">{{ _('Analyse des dépendances') }} (Option 4)</hi> : {{ _("Identification des relations entre les mots d'une phrase, en reliant chacun d'eux") }} {{ _('en fonction de sa fonction grammaticale comme sujet, objet, complément ou modificateur') }}</li>
    </ul></p></div>
    
    <br>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_analyses') }}"  target="_blank">{{ _('Voir la documentation') }}</a></p>
    <br>
    <form action="{{ url_for('analyze_linguistic') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        <div class="relations-input">
            <label for="analysis_type">{{ _("Choisir le type d'analyse") }} :</label>
            <select name="analysis_type" id="analysis_type" required>
                <option value="detect_lang">Option 1</option>
                <option value="hapax">Option 2</option>
                <option value="n_gram">Option 3</option>
                <option value="dependency">Option 4</option>
                <option value="lang_hapax">{{ _('Options 1 et 2') }}</option>
                <option value="lang_ngrams">{{ _('Options 1 et 3') }}</option>
                <option value="lang_dependency">{{ _('Options 1 et 4') }}</option>
                <option value="hapax_ngrams">{{ _('Options 2 et 3') }}</option>
                <option value="hapax_dependency">{{ _('Options 2 et 4') }}</option>
                <option value="ngrams_dependency">{{ _('Options 3 et 4') }}</option>
                <option value="lang_hapax_ngrams">{{ _('Options 1, 2 et 3') }}</option>
                <option value="lang_hapax_dependency">{{ _('Options 1, 2 et 4') }}</option>
                <option value="hapax_ngrams_dependency">{{ _('Options 2, 3 et 4') }}</option>
                <option value="lang_hapax_ngrams_dependency">{{ _('Options 1, 2, 3 et 4') }}</option>
            </select>
        </div>
        {{ form.csrf_token }}
        <br>
        <div class="relations-input" id="ngram_fields" style="display: none;">
            <label for="n">{{ _('Longueur des n-grams') }} :</label>
            <input type="number" id="n" name="n" min="1" value="2"><br>
            <label for="r">{{ _('Nombre de n-grams à afficher') }} :</label>
            <input type="number" id="r" name="r" min="1" value="5"><br>
        </div>
        <br>
        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">{{ _("Déposer le(s) fichier(s) ou cliquer ici") }}.</p>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">{{ _("Lancer l'analyse") }}</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
        function toggleNgramFields() {
            var analysisType = document.getElementById("analysis_type").value;
            var ngramFields = document.getElementById("ngram_fields");
            if (analysisType === "n_gram") {
                ngramFields.style.display = "block";
            }
            else if (analysisType === "hapax_ngrams") {
                ngramFields.style.display = "block";
            }
            else if (analysisType === "lang_ngrams") {
                ngramFields.style.display = "block";
            }
            else if (analysisType === "ngrams_dependency") {
                ngramFields.style.display = "block";
            }
            else if (analysisType === "lang_hapax_ngrams") {
                ngramFields.style.display = "block";
            }
            else if (analysisType === "hapax_ngrams_dependency") {
                ngramFields.style.display = "block";
            }
            else if (analysisType === "lang_hapax_ngrams_dependency") {
                ngramFields.style.display = "block";
            }
             else {
                ngramFields.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("analysis_type").addEventListener("change", toggleNgramFields);
            toggleNgramFields(); // Initial call to set visibility based on default selection
        });

</script>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
