{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('analyses')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
        <h3>Analyse statistique</h3>
    <p>Cette page permet d'opérer divers types d'analyses statistiques sur un ou plusieurs documents soumis.<br>
        <br>
    <ul class="item-list" style="margin-left: 3em;">
        <li><hi style="font-weight: bold;">Longueur moyenne des phrases</hi> : Mesure calculant le nombre moyen de mots par phrase dans un texte donn, donnant un aperçu de la complexité et de la lisibilité du texte</li>
        <li><hi style="font-weight: bold;">Fréquence de mots</hi> : Calcul des fréquences absolue et relative de chaque mot d'un texte</li>
        <li><hi style="font-weight: bold;">Co-occurrences</hi> : Fréquence à laquelle deux éléments apparaissent ensemble dans un contexte</li>
    </ul></p></div>
    <br>
    <form action="{{ url_for('analyze_statistic') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        <div class="centered-div">
            <label for="analysis_type">Choisir le type d'analyse :</label>
            <select class="styled-select" name="analysis_type" id="analysis_type" required>
                <option value="sentence_length_average">Longueur moyenne des phrases</option>
                <option value="words_frequency">Fréquence de mots</option>
                <option value="cooccurrences">Co-occurrences</option>
            </select>
        </div>
        {{ form.csrf_token }}
        <br>
        <div class="centered-input-div" id="cooccurrences-fields" style="display: none;">
            <label for="context_window">Context window :</label>
            <input type="number" id="context_window" name="context_window" min="1" value="2"><br>
            <label for="target_word">Target word :</label>
            <input type="text" id="target_word" name="target_word" placeholder="Fill it with a unique word"><br>
        </div>
        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">Déposer le(s) fichier(s) ou cliquer ici.</p>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">Lancer l'analyse</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
        function toggleNgramFields() {
            var analysisType = document.getElementById("analysis_type").value;
            var ngramFields = document.getElementById("cooccurrences-fields");
            if (analysisType === "cooccurrences") {
                ngramFields.style.display = "block";
            } else {
                ngramFields.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("analysis_type").addEventListener("change", toggleNgramFields);
            toggleNgramFields(); // Initial call to set visibility based on default selection
        });

</script>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
