{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
    <div class="outil" id="t3">
      <div class="fil"><a href="{{ url_for('conversion')}}"><< {{ _('Retour aux tâches') }}</a></div>
      <h3>{{ _('Conversion XML-TEI') }}</h3>
      <p>{{ _("L'outil ci-dessous permet de transformer un texte brut en format XML-TEI") }}. <br/>
        {{ _("La TEI est un format courant en humanitiés numériques qui permet d'encoder les textes. On utilise des balises prédefinies. 
        <br/>Chaque document TEI doit avoir au moins un &lt;teiHeader&gt; qui contient des informations importantes sur le document. Cette balise contient à son tour au minimum  &lt;fileDesc&gt;,   &lt;titleStmt&gt;,  &lt;publicationStmt&gt; et  &lt;sourceDesc&gt;. <br/> 
        Il est nécessaire de spécifier les métadonnées dans le formulaire ci-dessous qui serviront à remplir les informations trouvées en &lt;teiHeader&gt; ") }}. {{ _("Se référer au manuel TEI")}} (<a href="https://tei-c.org/release/doc/tei-p5-doc/fr/html/ref-fileDesc.html#:~:text=Il%20fournit%20le%20titre%20et,dans%20l'en%2Dt%C3%AAte." target="_blank">{{ _ ("section fileDesc") }} </a>) {{ _("pour plus d'information sur les différents champs de l'en-tête") }}. <br/></p>


        <!--<div class="infos_outil" style="width:1400px">
          <h3>Comment remplir les metadonnées ?</h3>
        <ul>
          <li>&lt;fileDesc&gt; contient une description bibliographique complète du <b>fichier électronique.</b></li><br/>
          <li>&lt;titleStmt&gt regroupe les informations sur le titre d’une œuvre et les personnes ou institutions responsables de son contenu intellectuel</li><br/>
          <li>&lt;publicationStmt&gt; regroupe des informations concernant la publication ou la diffusion d’un texte électronique ou d’un autre type de texte</li><br/>
          <li>&lt;sourceDesc&gt; décrit la source à partir de laquelle un texte électronique a été dérivé ou produit, habituellement une description bibliographique pour un texte numérisé, ou une expression comme document numérique natif pour un texte qui n'a aucune existence précédente</li>
        </ul></div>-->
      <div id="divform">

        <form action="{{ url_for('xmlconverter') }}" id="metadata-form" method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
        <div id="div-metadata">
          <br/>
          <legend>{{ _("Métadonnées") }}</legend>
          <fieldset>
          <p class="labelxml">Titre du document (titleStmt)*</p>
          <label for="title" style="display:inline-block;width:102px;margin-left:12px;">title</label>
          <select name="title_lang" id="title_lang">
            <option value="fr">français</option>
            <option value="en">anglais</option>
            <option value="de">allemand</option>
            <option value="es">espagnol</option>
          </select>
          <input type="text" name="title" id="title">
          <br/>
          <label for="author" style="display:inline-block;width:102px;margin-left:12px;">author</label>
          <input type="text" name="author" id="author">
        </fieldset>
          <fieldset>
            <details>
          <summary class="labelxml">Responsabilité du document (respStmt)</summary>
          <label for="resp" style="margin-left:12px;display:inline-block;width:90px;">resp</label>
          <input type="text" name="resp" id="resp">
          <br/>
          <label for="nameresp" style="margin-left:12px; display:inline-block;width:90px;">name</label>
          <input type="text" name="nameresp" id="nameresp">
          <br/>
        </details>
          </fieldset>
          <fieldset>
          <label class="labelxml" for="pubStmt">Publication du document (publicationStmt)*</label>
          <p style="font-size:8px;">{{ _("Entrer les noms des éditeurs séparés par un retour à la ligne") }}</p>
          <textarea cols="25" rows="3" id="pubStmt" name="pubStmt" placeholder="Publié par..." required></textarea>
          <br/>
          <label for="licence" style="margin-left:12px;display:inline-block;width:90px;">Licence *</label>
          <select name="licence" id="licence" required>
            <option value="CC-BY">CC-BY</option>
            <option value="CC-BY-SA">CC-BY-SA</option>
            <option value="CC-BY-ND">CC-BY-ND</option>
            <option value="CC-BY-NC">CC-BY-NC</option>
          </select>
          <br/>
          </fieldset>
          <fieldset>
          <label class="labelxml" for="sourceDesc">Description bibliographique de la source (sourceDesc)*</label>
          <br/>
          <textarea cols="25" rows="3" id="sourceDesc" name="sourceDesc" placeholder="Description bibliographique de la source"></textarea>
          <br/>
          </fieldset>
          <fieldset>
           <details>
            <summary class="labelxml">Profil du document (profileDesc)</summary>
          <label for="creation" style="margin-left:12px;display:inline-block;">Quelle est la date de création du document</label>
          <input type="text" name="creation" id="creation" placeholder="YYYY">
          <br/>
          <label for="lang" style="display:inline-block;margin-left:12px;">Quel est la langue du document ?</label>
          <select name="lang" id="lang">
            <option value="">--Please choose an option--</option>
            <option value="fr">français</option>
            <option value="en">anglais</option>
            <option value="de">allemand</option>
            <option value="es">espagnol</option>
          </select>
        </details>
          <br/>
          </fieldset>
          <fieldset>
           <details>
            <summary class="labelxml">Description du projet (projectDesc)</summary>
          <label for="projet_p" style="margin-left:12px;display:inline-block;">Description</label>
          <input type="text" name="projet_p" id="projet_p" >
          </details>
          </fieldset>
          <fieldset>
           <details>
            <summary class="labelxml">Choix éditoriaux (editorialDecl)</summary>
          <label for="edit_correction_p" style="margin-left:12px;display:inline-block;">Quelle(s) correction(s) a(ont) été faite(s) ?</label>
          <input type="text" name="edit_correction_p" id="edit_correction_p" >
          <br/>
          <label for="edit_hyphen_p" style="display:inline-block;margin-left:12px;">Quel système de traits d'union a été choisi ?</label>
          <select name="edit_hyphen_p" id="edit_hyphen_p">
            <option value="all end-of-line hyphenation has been retained, even though the lineation of the original may not have been">all end-of-line hyphenation has been retained, even though the lineation of the original may not have been</option>
            <option value="end-of-line hyphenation has been retained in some cases">end-of-line hyphenation has been retained in some cases</option>
            <option value="all soft end-of-line hyphenation has been removed: any remaining end-of-line hyphenation should be retained">all soft end-of-line hyphenation has been removed: any remaining end-of-line hyphenation should be retained</option>
            <option value="all end-of-line hyphenation has been removed: any remaining hyphenation occurred within the line">all end-of-line hyphenation has been removed: any remaining hyphenation occurred within the line</option>
          </select>
          <br/>
        </details>
          </fieldset>
          <fieldset>
          <p class="labelxml">Révision du document (revisionDesc)*</p>
          <label for="when" style="margin-left:12px;display:inline-block;">Date de la révision</label>
          <input type="date" name="when" id="when" required>
          <br/>
          <label for="who" style="margin-left:12px;display:inline-block;">Responsable de la révision</label>
          <input type="text" name="who" id="who" required>
          <br/>
          <label for="change" style="margin-left:12px;display:inline-block;">Quelle révision a été effectué ?</label>
          <input type="text" name="change" id="change" required>
          <br/>
          </fieldset>
          <br/>
          <legend>Corps du texte</legend>
          <fieldset>
          <p class="labelxml">Type de document</p>
          <label for="divtype" style="display:inline-block;margin-left:12px;">Quel est la nature du document ?</label>
          <input type="text" name="divtype" id="divtype" placeholder="Ex: transcription, book, report">
          <br/>
          </fieldset>
          <p style="text-align: right; color: red; font-size: 9pt;">Tous les champs accompagnés d'un * doivent obligatoirement être remplies</p>
          <br/>
        </div>
        <div id="div-upload" class="column">
          <div class="dropzone">
            <input type="file" id="rax-text-file" name="file" accept=".txt" multiple required />
              <p id="form_msg"><i class="fa-solid fa-upload"></i><br/>{{ _('Déposer le(s) fichier(s) ou cliquer ici.' )}}</p>
            </div>
          <input id="csrf_token" name="csrf_token" type="hidden" value="CSRF_TOKEN_STRING">
          <button style="display:block;margin:auto;margin-top:20px;">{{ _("Convertir en XML-TEI") }}</button>
        </div>
          </form>
      </div>
    <span class="trigger-panel" onclick="openNav()">{{ _('Tâches suivantes')}}  <i class="fa-solid fa-angles-right"></i></span>

<div id="task-panel-ocr" class="sidepanel">
  <span class="closebtn" onclick="closeNav()">&times;</span>
  <h3 style="font-family: 'Comprehension', serif;">{{ _('Tâches suivantes')}}</h3>
  <div class="side-item"><a href="{{ url_for('entites_nommees') }}">{{ _('Extraire les entités nommées') }}</a></div>
  <div class="side-item"><a href="{{ url_for('etiquetage_morphosyntaxique') }}">{{ _('Étiqueter en parties du discours') }}</a></div>
  <div class="side-item"><a href="{{ url_for('outils_visualisation') }}">{{ _('Visualisation') }}</a></div>
</div>
    </div>
    <script type="text/javascript">
        function openNav() {
    document.getElementById("task-panel-ocr").style.width = "300px";
  }
/* Set the width of the sidebar to 0 (hide it) */
  function closeNav() {
    document.getElementById("task-panel-ocr").style.width = "0";
  }


      
    </script>
<script>
    /* MAJ de la zone de glisser-déposer */ 
    $(document).ready(function(){
        $('form input').change(function () {

            var nb_files = this.files.length;
            $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

            /* Prévisualisation des fichiers chargés (max 3 visibles) */
            if(nb_files > 3){
                var num = nb_files - 3;
                for(i=0; i < 3; i++){
                    $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
                }
                $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
            }
            else{
                for(i=0; i < nb_files; i++){
                    $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
                }
            }
        });

        /* Affichage des options du formulaire */

        $('#mmr').click(function(){
            $("#diversity_opt").toggle();
        });

    });

    </script>
{% endblock %}
