{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
        <style>
  #form-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  fieldset {
    flex: 1 1 calc(50% - 20px);
    min-width: 400px;
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }

  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 4px; /* Réduit l’espace sous le label */
  }

  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Contour léger gris clair */
    border-radius: 4px;
    background-color: #fff;
  }

  legend {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Spécifique au fieldset "Corps du texte" */
  fieldset:last-of-type {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
  }

  @media (max-width: 900px) {
    fieldset {
      flex: 1 1 100%;
    }

    #divtype, .divtype-info {
      width: 100%;
    }
  }

  p[style*="margin-top:20px"] {
    flex: 1 1 100%;
  }


</style>


    <div class="outil" id="t3">
      <div class="fil"><a href="{{ url_for('conversion')}}"><< {{ _('Retour aux tâches') }}</a></div>
      <h2>{{ _('Conversion XML-TEI') }}</h2>
      <p>{{ _("L'outil ci-dessous permet de transformer un texte brut en format XML-TEI, un format courant en humanitiés numériques") }} {{ _("qui permet d'encoder les textes, en utilisant des balises prédefinies.") }}</p>

      <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_conversion') }}" target="_blank">{{ _('Voir la documentation') }}</a> / <a href="{{ url_for('tutoriel_conversion') }}" target="_blank">{{ _('Voir le tutoriel') }}</a></p>

      <div class="infos_outil" style="display: block;margin: 0 auto 15px auto;">
          <input id="show" type="checkbox"><label for="show" class="infos_title" style="font-weight: normal;"><i class="fa-solid fa-circle-info"></i> {{ _("Informations sur l'outil") }}<i class="fa-solid fa-angle-right" style="float:right;margin-top:5px;margin-left:15px;cursor: pointer;"></i></label>
          <div class="info_popped">
              <p>{{ _('LXML, expressions régulières (Regex) et XML-TEI') }}</p>
              <p>{{ _("Formats d'entrée :")}} <i class="fa-regular fa-file-lines"></i> {{ _('texte brut') }} (.txt)</p>
              <p>{{ _("Formats de sortie :")}} <i class="fa-regular fa-file-code"></i> {{ _('fichier XML') }} (.xml)</p>
              <p>{{ _('Encodage') }} : UTF-8</p>
      <p><i class="fa-solid fa-triangle-exclamation"></i> {{ _("Attention : Assurez-vous que les noms de vos fichiers d'entrée ne soient pas trop longs")}}<br>
      {{ _("et ne contiennent pas de caractères problématiques")}} ([\/:*"&gt;&lt;|])</p>
          </div>
      </div>
      <br>
      <br>
      <div id="form-container">

        <form action="{{ url_for('xmlconverter') }}" id="metadata-form" method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}

    <!-- Métadonnées -->
    <fieldset>
      <legend>{{ _('Métadonnées') }}</legend>
      <label for="title"><strong>{{ _('Titre du document') }} (titleStmt)</strong> <span style="color: red;">*</span></label><br>
      <select name="title_lang" id="title_lang">
        <option value="fr">{{ _('Français') }}</option>
        <option value="en">{{ _('Anglais') }}</option>
        <option value="de">{{ _('Allemand') }}</option>
        <option value="es">{{ _('Espagnol') }}</option>
      </select>
      <input type="text" name="title" id="title" placeholder="Title of the document" required><br>

      <label for="author"><strong>{{ _('Auteur') }}</strong></label><br>
      <input type="text" name="author" id="author" placeholder="Author of the document"><br>
    </fieldset>

    <!-- Responsabilité -->
    <fieldset>
      <legend>{{ _('Responsabilité du document') }} (respStmt)</legend>
      <label for="resp"><strong>{{ _('Action faite') }}</strong></label><br>
      <input type="text" name="resp" id="resp" placeholder="Encoded by/Transcribed by/etc."><br>

      <label for="nameresp"><strong>{{ _('Nom') }}</strong></label><br>
      <input type="text" name="nameresp" id="nameresp" placeholder="Name of the person responsible for the action"><br>
    </fieldset>

    <!-- Publication -->
    <fieldset>
      <legend>{{ _('Publication du document') }} (publicationStmt) <span style="color: red;">*</span></legend>
      <small>{{ _('Entrer les noms des éditeurs séparés par un retour à la ligne') }}</small><br>
      <textarea name="pubStmt" id="pubStmt" rows="3" placeholder="Example: Sorbonne Université" required></textarea><br>

      <label for="licence"><strong>{{ _('Licence') }}</strong> <span style="color: red;">*</span></label><br>
      <select name="licence" id="licence" required>
        <option value="CC-BY">CC-BY (Attribution)</option>
        <option value="CC-BY-SA">CC-BY-SA ({{ _("Attribution et partage dans les mêmes conditions") }})</option>
        <option value="CC-BY-ND">CC-BY-ND ({{ _("Attribution mais pas de modification") }})</option>
        <option value="CC-BY-NC">CC-BY-NC ({{ _("Attribution mais pas d’utilisation commerciale") }})</option>
        <option value="CC-BY-ND-NC">CC-BY-ND-NC ({{ _("Attribution mais pas de modification ou d’utilisation commercial") }})</option>
        <option value="CC-BY-NC-SA">CC-BY-NC-SA ({{ _("Attribution mais pas d’utilisation commerciale et partage dans les mêmes conditions") }})</option>
      </select><br>

      <label for="publication_date"><strong>{{ _('Date de publication') }}</strong></label><br>
      <input type="number" name="publication_date" id="publication_date" min="1900" max="2099" step="1" value="2025"><br>
    </fieldset>

    <!-- Source -->
    <fieldset>
      <legend>{{ _('Description bibliographique de la source') }} (sourceDesc) <span style="color: red;">*</span></legend>
      <textarea name="sourceDesc" id="sourceDesc" rows="3" placeholder="Example: The first folio of Shakespeare, prepared by Charlton Hinman (The Norton Facsimile, 1968)"></textarea>
    </fieldset>

    <!-- Profil -->
    <fieldset>
      <legend>{{ _('Profil du document') }} (profileDesc)</legend>
      <label for="creation"><strong>{{ _('Date de création') }}</strong></label><br>
      <input type="number" name="creation" id="creation" min="0" max="2099" step="1" value="2025"><br>

      <label for="lang"><strong>{{ _('Langue du document') }}</strong></label><br>
      <select name="lang" id="lang">
        <option value="fr">{{ _('Français') }}</option>
        <option value="en">{{ _('Anglais') }}</option>
        <option value="de">{{ _('Allemand') }}</option>
        <option value="es">{{ _('Espagnol') }}</option>
      </select><br>
    </fieldset>

    <!-- Projet -->
    <fieldset>
      <legend>{{ _('Description du projet') }} (projectDesc)</legend>
      <textarea name="projet_p" id="projet_p" rows="3" placeholder="Example: Texts collected for use in the Claremont Shakespeare Clinic, June 1990"></textarea>
    </fieldset>

    <!-- Choix éditoriaux -->
    <fieldset>
      <legend>{{ _('Choix éditoriaux') }} (editorialDecl)</legend>
      <label for="edit_correction_p"><strong>{{ _('Corrections effectuées') }}</strong></label><br>
      <textarea rows="3" name="edit_correction_p" id="edit_correction_p" placeholder="Example: Errors in transcription controlled by using the WordPerfect spelling checker."></textarea><br>

      <label for="edit_hyphen_p"><strong>{{ _('Système de traits d’union') }}</strong></label><br>
      <select name="edit_hyphen_p" id="edit_hyphen_p">
        <option value="all end-of-line hyphenation has been retained, even though the lineation of the original may not have been">{{ _("Maintien des traits d'union de fin de ligne, même si non respect de la linéation de l'original") }}</option>
        <option value="end-of-line hyphenation has been retained in some cases">{{ _('Maintien partiel') }}</option>
        <option value="all soft end-of-line hyphenation has been removed: any remaining end-of-line hyphenation should be retained">{{ _('Suppression des césures souples, maintien des autres') }}</option>
        <option value="all end-of-line hyphenation has been removed: any remaining hyphenation occurred within the line">{{ _('Suppression totale des césures') }}</option>
      </select><br>
    </fieldset>

    <!-- Révision -->
    <fieldset>
      <legend>{{ _('Révision du document') }} (revisionDesc) <span style="color: red;">*</span></legend>
      <label for="when"><strong>{{ _('Date de la révision') }}</strong></label><br>
      <input type="date" name="when" id="when" required><br>

      <label for="who"><strong>{{ _('Responsable') }}</strong></label><br>
      <input type="text" name="who" id="who" placeholder="Id of the person" required><br>

      <label for="change"><strong>{{ _('Révision effectuée') }}</strong></label><br>
      <textarea rows="3" name="change" id="change" placeholder="Encoding of the metadata/Encoding of the body/Encoding of the metadata and body" required></textarea><br>
    </fieldset>

    <!-- Corps -->
    <fieldset>
  <legend>{{ _('Corps du texte') }}</legend>
  <label for="divtype"><strong>{{ _("Type de document") }}</strong></label><br>
  <select name="divtype" id="divtype" required>
    <option value="text">{{ _("Indéfini") }}</option>
    <option value="book">{{ _("Livre") }}</option>
    <option value="letter">{{ _("Lettre") }}</option>
    <option value="play">{{ _("Pièce de théâtre") }}</option>
    <option value="poem">{{ _("Poème") }}</option>
    <option value="report">{{ _("Rapport") }}</option>
  </select>
  <div style="font-size: smaller;">
    <i>{{ _("Choisissez le type correspondant à la structure du texte. Le choix de <b>Poème</b> encodera votre texte avec des balises &lt;l&gt; et &lt;lg&gt;, qui signalent les vers et les couplets. Le choix de <b>Pièce de théâtre</b> encodera votre texte selon les séparations d'actes et de scènes et prendra comme un bloc les &lt;speaker&gt; et leur dialogue") }}. {{ _("Le choix de <b>Livre</b> encodera votre texte selon les chapitres, avec des &lt;div&gt; et les séparations de pages avec des &lt;pb&gt;. Le choix de <b>Lettre</b> encodera votre texte en prenant en compte les éléments tels que des date, salutations, signature, etc, avec notamment un &lt;opener&gt; et &lt;closer&gt;") }}. {{ _("Le choix de de <b>Rapport</b> encodera votre texte en section, avec des &lt;div&gt;, selon les numérotations par lettres, chiffres ou alphabets romans. Enfin, le choix de <b>Indéfini</b> encodera votre texte par paragraphe principalement, avec des &lt;p&gt;") }}.</i>
  </div>
</fieldset>


    <p style="margin-top:20px; color: red; font-size: 9pt; text-align: center">{{ _("Tous les champs accompagnés d'un * doivent obligatoirement être remplis.") }}</p>


        <div id="div-upload" style="width: 500px; margin: 0 auto;">
          <div class="dropzone">
            <input class="styled-select" type="file" id="rax-text-file" name="file" accept=".txt" multiple required/>
              <p id="form_msg"><i class="fa-solid fa-upload"></i><br/>{{ _('Déposer le(s) fichier(s) ou cliquer ici.')}}</p>
            </div>
          <input id="csrf_token" name="csrf_token" type="hidden" value="CSRF_TOKEN_STRING">
          <button style="display:block;margin:auto;margin-top:20px;">{{ _("Convertir en XML-TEI") }}</button>
        </div>
          </form>
      </div>
    <span class="trigger-panel" onclick="openNav()">{{ _('Tâches suivantes')}}  <i class="fa-solid fa-angles-right"></i></span>

<div id="task-panel-ocr" class="sidepanel">
  <span class="closebtn" onclick="closeNav()">&times;</span>
  <h3 style="font-family: 'Comprehension', serif;">{{ _('Tâches suivantes')}}</h3>
  <div class="side-item"><a href="{{ url_for('entites_nommees') }}">{{ _('Extraire les entités nommées') }}</a></div>
  <div class="side-item"><a href="{{ url_for('etiquetage_morphosyntaxique') }}">{{ _('Étiqueter en parties du discours') }}</a></div>
  <div class="side-item"><a href="{{ url_for('outils_visualisation') }}">{{ _('Visualisation') }}</a></div>
</div>
    </div>
    <script type="text/javascript">
        function openNav() {
    document.getElementById("task-panel-ocr").style.width = "300px";
  }
/* Set the width of the sidebar to 0 (hide it) */
  function closeNav() {
    document.getElementById("task-panel-ocr").style.width = "0";
  }


      
    </script>
<script>
    /* MAJ de la zone de glisser-déposer */ 
    $(document).ready(function(){
        $('form input').change(function () {

            var nb_files = this.files.length;
            $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

            /* Prévisualisation des fichiers chargés (max 3 visibles) */
            if(nb_files > 3){
                var num = nb_files - 3;
                for(i=0; i < 3; i++){
                    $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
                }
                $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
            }
            else{
                for(i=0; i < nb_files; i++){
                    $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
                }
            }
        });

        /* Affichage des options du formulaire */

        $('#mmr').click(function(){
            $("#diversity_opt").toggle();
        });

    });

    </script>
{% endblock %}
