{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<style>
  #tess-form{
    padding:35px;
    margin:20px auto;
    /*background-color:rgba(221, 201, 180, .3);*/
    width:800px;
    text-align: center;
  }

  .dropzone{
    margin:auto;
    margin-top: 8px;
  }

  button{
    display: block;
    margin:auto;
    margin-top: 8px;
  }
  
  #add_model{
    cursor:pointer;
  }
</style>
<!-- CREATION CORPUS -->
  <div class="outil">
    <div class="fil"><a href="{{ url_for('outils_correction')}}"><< {{ _('Retour aux tâches') }}</a></div>
      <h3>{{ _("Correction d'erreurs") }}</h3>
      <p>{{ _("Cet outil permet de faire de la correction orthographique, mais aussi d'aider dans les erreurs de conjugaison, grammaticales, etc") }}.</p>
      <br>
      <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_correction') }}"  target="_blank">{{ _('Voir la documentation') }}</a></p>
      <div class="infos_outil" style="display: block;margin: 0 auto 15px auto;">
        <input id="show" type=checkbox><label for="show" class="infos_title"><i class="fa-solid fa-circle-info"></i> {{ _("Informations sur l'outil") }}<i class="fa-solid fa-angle-right" style="float:right;margin-top:5px;margin-left:15px;cursor: pointer;"></i></label>
        <div class="info_popped">
          <p>Language Tool
      <p>{{ _("Formats d'entrée :")}} <i class="fa-regular fa-file-lines"></i> {{ _('texte brut') }} (.txt)</p>
      <p>{{ _('Encodage') }} : UTF-8</p>
      <p>{{ _('Limite de taille ')}}: 20k {{ _('caractères') }}</p>
      <p><i class="fa-solid fa-triangle-exclamation"></i> {{ _("Attention : Assurez-vous que les noms de vos fichiers d'entrée ne soient pas trop longs")}}<br>
      {{ _("et ne contiennent pas de caractères problématiques")}} ([\/:*"&gt;&lt;|])</p>
      </div>
    </div>
      <div style="margin:15px;margin-bottom:100px;">
        <div id="tess-form">
    <form action="{{ url_for('autocorrect') }}" id="correction-form" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="relations-input">
        <label for="selected_language">{{ _('Modèle') }}</label>
        <select name="selected_language">
            <option value="auto">{{ _('Détection automatique') }} (auto)</option>
            <option value="ar">{{ _('Arabe') }} (ar)</option>
            <option value="de">{{ _('Allemand') }} (de)</option>
            <option value="en">{{ _('Anglais') }} (en)</option>
            <option value="bg">{{ _('Bulgare') }} (bg)</option>
            <option value="ca">{{ _('Catalan') }} (ca)</option>
            <option value="zh">{{ _('Chinois') }} (zh)</option>
            <option value="cs">{{ _('Tchèque') }} (cs)</option>
            <option value="et">{{ _('Estonien') }} (et)</option>
            <option value="es">{{ _('Espagnol') }} (es)</option>
            <option value="fi">{{ _('Finnois') }} (fi)</option>
            <option value="fr" selected>{{ _('Français') }} (fr)</option>
            <option value="el">{{ _('Grec') }} (el)</option>
            <option value="it">{{ _('Italien') }} (it)</option>
            <option value="ja">{{ _('Japonais') }} (ja)</option>
            <option value="lv">{{ _('Letton') }} (lv)</option>
            <option value="lt">{{ _('Lituanien') }} (lt)</option>
            <option value="nl">{{ _('Néerlandais') }} (nl)</option>
            <option value="pl">{{ _('Polonais') }} (pl)</option>
            <option value="pt">{{ _('Portugais') }} (pt)</option>
            <option value="ro">{{ _('Roumain') }} (ro)</option>
            <option value="ru">{{ _('Russe') }} (ru)</option>
            <option value="sk">{{ _('Slovaque') }} (sk)</option>
            <option value="sl">{{ _('Slovène') }} (sl)</option>
            <option value="sv">{{ _('Suédois') }} (sv)</option>
            <option value="uk">{{ _('Ukrainien') }} (uk)</option>

        </select>
      </div>
        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">{{ _("Déposer le(s) fichier(s) ou cliquer ici") }}.</p>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">{{ _('Corriger') }}</button>
    </form>
  </div>
    {% if msg != "" %}
    <div><p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>
</div>

      <script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
</script>
  </div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}