{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('pretraitement')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
    <h3>{{ _('Nettoyage de texte') }}</h3>
    <p>{{ _("Cette page permet de nettoyer, d'une manière ou d'une autre, un ou plusieurs documents soumis") }}.<br>
        <br>
    <ul class="item-list" style="margin-left: 3em;">
        <li><hi style="font-weight: bold;">{{ _('Minuscules') }} (Option 1)</hi> : {{ _('Mise en minuscule de tous les caractères dans un texte') }}.</li>
        <li><hi style="font-weight: bold;">{{ _('Ponctuation') }} (Option 2)</hi> : {{ _('Suppression de la ponctuation dans un texte') }}.</li>
        <li><hi style="font-weight: bold;">{{ _('Mots-vides') }} (Option 3)</hi> : {{ _("Suppression des mots-vides ou <em>stopwords</em>") }}, {{ _('soit des mots très courants, tels que déterminants, auxiliaires, conjonction') }}, etc.</li>
    </ul></p></div>
    <br>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_preprocessing') }}"  target="_blank">{{ _('Voir la documentation') }}</a></p>
    <br>
    <div class="infos_outil" style="display: block;margin: 0 auto 15px auto;">
        <input id="show" type=checkbox><label for="show" class="infos_title"><i class="fa-solid fa-circle-info"></i> {{ _("Informations sur l'outil") }}<i class="fa-solid fa-angle-right" style="float:right;margin-top:5px;margin-left:15px;cursor: pointer;"></i></label>
        <div class="info_popped">
          <p>Natural Language Toolkit (NLTK)
      <p>{{ _("Formats d'entrée :")}} <i class="fa-regular fa-file-lines"></i> {{ _('texte brut') }} (.txt)</p>
      <p>{{ _("Formats de sortie :")}} <i class="fa-regular fa-file-lines"></i> {{ _('texte brut') }} (.txt)</p>
      <p>{{ _("Encodage")}} : UTF-8</p>
      </div>
  </div>
      <br>
    <form action="{{ url_for('removing_elements') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        <div class="centered-div">
            <label for="removing_type">{{ _('Choisir le type de modification') }} :</label>
            <select class="styled-select" name="removing_type" id="removing_type" required>
                <option value="lowercases">Option 1</option>
                <option value="punctuation">Option 2</option>
                <option value="stopwords">Option 3</option>
                <option value="lowercases_punctuation">{{ _('Options 1 et 2') }}</option>
                <option value="lowercases_stopwords">{{ _('Options 1 et 3') }}</option>
                <option value="punctuation_stopwords">{{ _('Options 2 et 3') }}</option>
                <option value="lowercases_punctuation_stopwords">{{ _('Options 1, 2 et 3') }}</option>
            </select>
        </div>
    <br>
        {{ form.csrf_token }}
        <div class="centered-input-div" id="stopwords_fields" style="display: none;">
            <label for="selected_language">{{ _('Choisissez la langue') }} :</label>
                <select name="selected_language" id="selected_language">
                    <option value="german">{{ _('Allemand') }} (de)</option>
                    <option value="english">{{ _('Anglais') }} (eng)</option>
                    <option value="danish">{{ _('Danois') }} (da)</option>
                    <option value="spanish">{{ _('Espagnol') }} (es)</option>
                    <option value="finnish">{{ _('Finnois') }} (fi)</option>
                    <option value="french" selected>{{ _('Français') }} (fr)</option>
                    <option value="greek">{{ _('Grec') }} (el)</option>
                    <option value="italian">{{ _('Italien') }} (it)</option>
                    <option value="dutch">{{ _('Néerlandais') }} (nl)</option>
                    <option value="portuguese">{{ _('Portugais') }} (pt)</option>
                    <option value="russian">{{ _('Russe') }} (ru)</option>
                </select>
        </div>
        <br>
        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">{{ _("Déposer le(s) fichier(s) ou cliquer ici") }}.</p>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">{{ _('Prétraitement') }}</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
    function togglestopwordFields() {
            var removing_type = document.getElementById("removing_type").value;
            var stopwordsFields = document.getElementById("stopwords_fields");
            if (removing_type === "stopwords") {
                stopwordsFields.style.display = "block";
            } 
            else if (removing_type === "lowercases_stopwords") {
                stopwordsFields.style.display = "block";
            }
            else if (removing_type === "punctuation_stopwords") {
                stopwordsFields.style.display = "block";
            }
            else if (removing_type === "lowercases_punctuation_stopwords") {
                stopwordsFields.style.display = "block";
            }
            else {
                stopwordsFields.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("removing_type").addEventListener("change", togglestopwordFields);
            togglestopwordFields(); // Initial call to set visibility based on default selection
        });
</script>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}