{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('extraction_information')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <h3>Quotation extraction</h3>
    <p>{{ _("Récupération, dans un ou des documents soumis, d'extraits de texte") }}, {{ _("généralement entre guillemets, qui représentent les mots de quelqu'un d'autre") }}.</p>
    <br>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_extraction') }}" target="_blank">{{ _("Voir la documentation") }}</a></p>
    <br><div class="infos_outil" style="display: block;margin: 0 auto 15px auto;">
        <input id="show" type=checkbox><label for="show" class="infos_title"><i class="fa-solid fa-circle-info"></i> {{ _("Informations sur l'outil") }}<i class="fa-solid fa-angle-right" style="float:right;margin-top:5px;margin-left:15px;cursor: pointer;"></i></label>
        <div class="info_popped">
          <p>{{ _('Expressions régulières') }} (Regex)
      <p>{{ _("Formats d'entrée :")}} <i class="fa-regular fa-file-lines"></i> {{ _('texte brut') }} (.txt)</p>
      <p>{{ _("Formats de sortie :")}} <i class="fa-regular fa-file-lines"></i> {{ _('texte brut') }} (.txt)</p>
      <p>{{ _('Encodage') }} : UTF-8</p>
      <p><i class="fa-solid fa-triangle-exclamation"></i> {{ _("Attention : Assurez-vous que les noms de vos fichiers d'entrée ne soient pas trop longs")}}<br>
      {{ _("et ne contiennent pas de caractères problématiques")}} ([\/:*"&gt;&lt;|])</p>
      </div>
  </div>
  <br>
    <form action="{{ url_for('quotation') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        {{ form.csrf_token }}
        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">{{ _("Déposer le(s) fichier(s) ou cliquer ici") }}.</p>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">{{ _('Extraire') }}</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
</script>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}