{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<style>
    .custom-list {
    line-height: 1.5;
    font-size: 18px;
}

.custom-list li {
    margin-bottom: 10px;
}

.test {
    display: block; 
    margin: auto; 
    width: max-content;
    background-color: #f6f6f6;
    padding: 20px; /* Espacement interne */
    border: 2px solid #000;
}

</style>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('analyses')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
        <h3>{{ _('Analyse lexicale') }}</h3>
        <p>{{ _("Cette page permet d'opérer divers types d'analyses lexicales sur un ou plusieurs documents soumis") }}.<br>
            <br>
            <ul class="item-list" style="margin-left: 3em;">
                <li><strong>Synonymie</strong> : Des mots qui ont un sens similaire ou identique (ex. : <em>rapide</em> et <em>vite</em> sont des synonymes).</li>
                <li><strong>Antonymie</strong> : Des mots qui ont un sens opposé (ex. : <em>chaud</em> et <em>froid</em>).</li>
                <li><strong>Hyponymie</strong> : Un mot plus spécifique qui appartient à une catégorie plus large (ex. : <em>rose</em> est un hyponyme de <em>fleur</em>).</li>
                <li><strong>Hyperonymie</strong> : Un mot plus général qui englobe d'autres mots plus spécifiques (ex. : <em>animal</em> est un hyperonyme de <em>chat</em> ou <em>chien</em>).</li>
                <li><strong>Méronymie</strong> : Une relation entre une partie et un tout (ex. : <em>roue</em> est un méronyme de <em>voiture</em>).</li>
                <li><strong>Holonymie</strong> : L'inverse de la méronymie : le tout par rapport aux parties (ex. : <em>voiture</em> est un holonyme de <em>roue</em>).</li>
            </ul></p>
    </div>
    
    <br>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_analyses') }}"  target="_blank">{{ _('Voir la documentation') }}</a></p>
    <br>
    <form action="{{ url_for('lexical_relationships') }}" id="linguistic-form" method="post" enctype="multipart/form-data">
    <div class="test">
        <label for="language_choice">{{ _("Choisir la langue") }} :</label>
        <select name="language_choice" id="language_choice" required>
            <option value="eng">English</option>
            <option value="fra">French</option>
            <option value="spa">Spanish</option>
        </select>
    </div>

    <br>
    <div class="test">
        <label for="word">{{ _('Mot à analyser') }} :</label>
        <input type="text" name="word" id="word" placeholder="Write a single word"><br>
    </div>

    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <br>

    <button style="display:block;margin:auto;margin-top:20px;">{{ _("Lancer l'analyse") }}</button>
</form>

{% if msg != "" %}
<div><p>{{ msg }}</p></div>
{% endif %}

<div class="loader" id="loader" style="display: none;">
    <div class="loadingio-spinner-ball-205vl2x7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
    <p>Traitement en cours...</p>
</div>

{% if relationships_html %}
<br>
<div id="lexical-relationships">
    {{ relationships_html | safe }}
</div>
{% endif %}

<script>
</script>
</div>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
