{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<style>
    .custom-list {
    line-height: 1.5;
    font-size: 16px;
}

.custom-list li {
    margin-bottom: 10px;
}

</style>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('analyses')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
        <h3>{{ _('Relations lexicales') }}</h3>
        <p>{{ _("Cette page permet d'obtenir les diverses relations lexicales d'un mot donné") }}.<br>
            <br>
            <ul class="item-list" style="margin-left: 3em;">
                <li>{{ _("<strong>Synonymie</strong> : Une relation entre des mots qui ont un sens proche ou identique, permettant de remplacer l’un par l’autre dans un contexte donné") }}. {{ _("Elle est essentielle pour enrichir le vocabulaire et éviter les répétitions. (Ex. : <em>rapide</em> et <em>vite</em> sont des synonymes, car ils expriment la même idée de célérité.)") }}</li>
                <li>{{ _("<strong>Antonymie</strong> : Une relation entre des mots ayant des significations opposées, souvent utilisée pour exprimer des contrastes ou des oppositions claires") }}. {{ _("Les antonymes peuvent être **gradables** (ex. : <em>chaud</em> et <em>froid</em>) ou **complémentaires** (ex. : <em>vivant</em> et <em>mort</em>, où aucun état intermédiaire n'existe)") }}.</li>
                <li>{{ _("<strong>Hyponymie</strong> : Une relation hiérarchique où un mot plus spécifique appartient à une catégorie plus générale. Elle est utile pour organiser les concepts de manière logique") }}. {{ _("(Ex. : <em>rose</em> est un **hyponyme** de <em>fleur</em>, car une rose est un type particulier de fleur.)") }}</li>
                <li>{{ _("<strong>Hyperonymie</strong> : L’inverse de l’hyponymie, un mot plus général englobant plusieurs mots plus spécifiques. Cette relation permet de regrouper des concepts similaires sous un terme commun") }}. {{ _("(Ex. : <em>animal</em> est un **hyperonyme** de <em>chat</em> et <em>chien</em>, car ces derniers appartiennent à la catégorie des animaux.)") }}</li>
                <li>{{ _("<strong>Méronymie</strong> : Une relation où un mot représente une partie d’un tout. Elle est fréquemment utilisée pour décrire des structures ou des objets complexes") }}. {{ _("(Ex. : <em>roue</em> est un **méronyme** de <em>voiture</em>, car une roue fait partie intégrante d’un véhicule.)") }}</li>
                <li>{{ _("<strong>Holonymie</strong> : L’inverse de la méronymie, où un mot désigne l’ensemble dont une partie fait partie. Elle est essentielle pour comprendre la composition des objets et des systèmes") }}. {{ _("(Ex. : <em>voiture</em> est un **holonyme** de <em>roue</em>, car une voiture contient des roues dans sa structure.)") }}</li>

            </ul></p>
    </div>
    
    <br>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_analyses') }}"  target="_blank">{{ _('Voir la documentation') }}</a></p>
    <br>
    <form action="{{ url_for('lexical_relationships') }}" id="linguistic-form" method="post" enctype="multipart/form-data">
    <div class="relations-input">
        <label for="language_choice">{{ _("Choisir la langue") }} :</label>
        <select name="language_choice" id="language_choice" required>
            <option value="eng">{{ _("Anglais") }}</option>
            <option value="fra">{{ _("Français") }}</option>
            <option value="spa">{{ _("Espagnol") }}</option>
            <option value="cmn">{{ _("Chinois Mandarin") }}</option>
            <option value="ell">{{ _("Grec") }}</option>
            <option value="heb">{{ _("Hébreu") }}</option>
            <option value="ita">{{ _("Italien") }}</option>
            <option value="jpn">{{ _("Japonais") }}</option>
            <option value="nld">{{ _("Néerlandais") }}</option>
            <option value="pol">{{ _("Polonais") }}</option>
            <option value="por">{{ _("Portugais") }}</option>
            <option value="slk">{{ _("Slovaque") }}</option>
        </select>
    </div>

    <br>
    <div class="relations-input">
        <label for="word">{{ _('Mot à analyser') }} :</label>
        <input type="text" name="word" id="word" placeholder="Write a single word"><br>
    </div>
    <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    <br>

    <button style="display:block;margin:auto;margin-top:20px;">{{ _("Lancer l'analyse") }}</button>
</form>

{% if msg != "" %}
<div><p>{{ msg }}</p></div>
{% endif %}

<div class="loader" id="loader" style="display: none;">
    <div class="loadingio-spinner-ball-205vl2x7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
    <p>Traitement en cours...</p>
</div>

{% if relationships_html %}
<br>
<div id="lexical-relationships">
    {{ relationships_html | safe }}
</div>
{% endif %}

<script>
</script>
</div>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}
