{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<div class="outil">
    <div class="fil"><a href="{{ url_for('generation_texte')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <h2 style="font-family:'Comprehension', serif;">{{ _("Résumé automatique") }}</h2>
    <div class="tool-box">
        <h4>Summarizer</h4>
            <div style="min-width:48%">
                <p>{{ _("L'outil ") }}<a href="https://obtic.sorbonne-universite.fr/summary/" target="_blank">Summarizer</a> {{ _('permet de résumer automatiquement des documents en anglais aux formats texte brut ou XML') }}.</p>
            </div>
            <br>
            <div style="min-width:48%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <a href="https://obtic.sorbonne-universite.fr/summary/" target="_blank"><img style="width:65%;" src="{{ url_for('static', filename='img/summarizer.png') }}"></a>
            </div>
    </div>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}