{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<style>
  #tess-form{
    padding:35px;
    margin:20px auto;
    /*background-color:rgba(221, 201, 180, .3);*/
    width:800px;
    text-align: center;
  }
  button{
    display: block;
    margin:auto;
    margin-top: 8px;
  }
  
  #add_model{
    cursor:pointer;
  }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
  <div class="fil"><a href="{{ url_for('atr_tools')}}"><< {{ _('Retour aux tâches') }}</a></div>
<h2>{{ _('Reconnaissance automatique de discours') }} (ASR)</h2>

<div class="tool-box">
    <h4>Whisper ASR</h4>
    <p>La reconnaissance automatique de discours (ASR), qu'on peut aussi qualifier de reconnaissance de voix ou audio-to-text, est une technique qui permet de transformer du langage parlé en du texte. Pour se faire, <a href="https://openai.com/index/whisper/" target="_blank">Whisper</a>, un système ASR développé par OpenAI et entraîné sur plusieurs centaines de milliers d'heures de données du web, est utilisé.</p>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_recognition') }}"  target="_blank">{{ _('Voir la documentation') }}</a></p>
    <div class="infos_outil" style="display: block;margin: 0 auto 15px auto;">
        <input id="show" type=checkbox><label for="show" class="infos_title"><i class="fa-solid fa-circle-info"></i> {{ _("Informations sur l'outil") }}<i class="fa-solid fa-angle-right" style="float:right;margin-top:5px;margin-left:15px;cursor: pointer;"></i></label>
        <div class="info_popped"><p><i>Whisper OpenAI</i></p>
      <p>{{ _("Formats d'entrée :")}} <i class="fa-solid fa-file-video"></i> Fichier video ou <i class="fa-solid fa-file-audio"></i> fichier audio</p>
      <p>{{ _('Formats générés :')}} <i class="fa-solid fa-file-audio"></i> Fichier audio et <i class="fa-regular fa-file-lines"></i> {{ _('fichier TXT') }}</p>
      </div>
    </div>
    <form action="{{ url_for('automatic_speech_recognition') }}" method="POST" enctype="multipart/form-data">
      <div class="centered-div">
            <label for="file_type">Choisir le type de fichier :</label>
            <select class="styled-select" name="file_type" id="file_type" required>
                <option value="audio_urls">Audio file</option>
                <option value="video_urls">Video file</option>
            </select>
        </div>
        <br>
        <br>
        {{ form.csrf_token }}
        <div style="display: block; margin: auto; width: max-content;">
        <div id="audio_urls">
          <label for="audio_urls" style="font-weight: bold;">Audio URLs</label><br>
          <textarea name="audio_urls" rows="4" cols="50" placeholder="One URL per line"></textarea><br><br>
        </div>
      </div>

        <div id="video_urls" style="display: block; margin: auto; width: max-content;">
          <label for="video_urls" style="font-weight: bold;">Video URLs</label><br>
          <textarea name="video_urls" rows="4" cols="50" placeholder="One URL per line"></textarea><br><br>
        </div>
        <br>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button type="submit">Lancer la reconnaissance</button>
    </form>


  </div>
</div>
<script type="text/javascript">
  function toggleNgramFields() {
            var file_type = document.getElementById("file_type").value;
            var audio_urls = document.getElementById("audio_urls");
            var video_urls = document.getElementById("video_urls");
            if (file_type === "audio_urls") {
                audio_urls.style.display = "block";
                video_urls.style.display = "none";
            } else {
                audio_urls.style.display = "none";
                video_urls.style.display = "block";
            } 
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("file_type").addEventListener("change", toggleNgramFields);
            toggleNgramFields(); // Initial call to set visibility based on default selection
        });
</script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
