{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <div class="fil"><a href="{{ url_for('pretraitement')}}"><< {{ _('Retour aux tâches') }}</a></div>
    <div>
    <h3>Normalisation de texte</h3>
    <p>Cette page permet de transformer, de diverses manières, un ou plusieurs documents soumis.<br>
        <br>
    <ul class="item-list" style="margin-left: 3em;">
        <li><hi style="font-weight: bold;">Tokenisation</hi> : Découpage du texte en chaque instance séparée par un espace et/ou un signe de ponctuation</li>
        <li><hi style="font-weight: bold;">Case folding</hi> : Mise en minuscule de tous les tokens présents dans un texte soumis.</li>
        <li><hi style="font-weight: bold;">Lemmatisation</hi> : Récupération de chaque élément du texte sous sa forme lemmatisé, c'est-à-dire sa forme canonique.</li>
    </ul></p></div>
    <br>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_preprocessing') }}"  target="_blank">{{ _('Voir la documentation') }}</a> / <a href="{{ url_for('tutoriel_preprocessing') }}"  target="_blank">{{ _('Voir le tutoriel') }}</a></p>
    <br>
    <form action="{{ url_for('normalize_text') }}" id="linguistic-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
        <div class="centered-div">
            <label for="normalisation_type">Choisir le type d'analyse :</label>
            <select class="styled-select" name="normalisation_type" id="normalisation_type" required>
                <option value="tokens">Tokenisation</option>
                <option value="lowercases">Case folding</option>
                <option value="lemmas">Lemmatisation</option>
            </select>
        </div>
    <br>
        {{ form.csrf_token }}
        <div class="centered-input-div" id="lemma-fields" style="display: none;">
            <label for="selected_language">Choisissez la langue :</label>
                <select name="selected_language" id="selected_language">
                    <option value="english">Anglais</option>
                    <option value="french">Français</option>
                    <option value="spanish">Espagnol</option>
                    <option value="german">German</option>
                    <!-- Rajouter d'autres langues -->
                </select>
        </div>
        <br>
        <div class="dropzone" style="margin:25px auto;">
            <input type="file" id="files" name="files" accept="text/plain" multiple required>
            <p id="form_msg">Déposer le(s) fichier(s) ou cliquer ici.</p>
        </div>
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button style="display:block;margin:auto;margin-top:20px;">Télécharger les fichiers</button>
    </form>
    {% if msg != "" %}
    <div> <p>{{ msg }}</p></div>
    {% endif %}
    <div class="loader" id="loader">
        <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
        <p>Traitement en cours...</p>
    </div>
<script>
/* MAJ de la zone de glisser-déposer */ 
$('form input').change(function () {
    var nb_files = this.files.length;
    $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

    /* Prévisualisation des fichiers chargés (max 3 visibles) */
    if(nb_files > 3){
        var num = nb_files - 3;
        for(i=0; i < 3; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
        $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
    }
    else{
        for(i=0; i < nb_files; i++){
            $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
        }
    }
});
    function togglelemmaFields() {
            var normalisation_type = document.getElementById("normalisation_type").value;
            var lemmasFields = document.getElementById("lemma-fields");
            if (normalisation_type === "lemmas") {
                lemmasFields.style.display = "block";
            } else {
                lemmasFields.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("normalisation_type").addEventListener("change", togglelemmaFields);
            togglelemmaFields(); // Initial call to set visibility based on default selection
        });
</script>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}