{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<div class="outil">
  <div class="fil"><a href="{{ url_for('annotation_automatique')}}"><< {{ _('Retour aux tâches') }}</a></div>
  <h2>{{ _('Catégories sémantiques') }}</h2>
  <h4>TextoLab</h4>
  <p>{{ _("Textolab est un outil à base de règles pour l'annotation automatique de textes") }}. <a href="https://github.com/obtic-scai/textolab/tree/dev" target="_blank">GitHub du projet</a></p>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}