{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<div class="outil">
  <div class="fil"><a href="{{ url_for('annotation_automatique')}}"><< {{ _('Retour aux tâches') }}</a></div>
  <h2>{{ _('Catégories sémantiques') }}</h2>
  <h4>TextoLab</h4>
  <p>Textolab est un outil d'annotation automatique de textes. Il permet d'identifier des patrons linguistiques à l'aide de règles heuristiques. L’annotation se fait au niveau de la surface, sans analyse morphosyntaxique.</p>
  <br>
  <p style="font-weight: bold; size: 14pt;">Lancer Textolab
  <ul class="tools">
    <li>Ce logociel fonctionne sous Windows et Mac.</li>
    <li>Téléchargez le dossier <a href="{{url_for('download')}}">textolab.zip</a> sur votre ordinateur et décompressez-le.</li>
    <li>Cliquer sur textolab.exe, et dans la fenêtre qui s'affiche, validez le chemin vers le projet textolab. Le logo de l'application doit s'afficher correctement. <br><img alt="Logo textolab" src="{{url_for('static', filename='img/logo_textolab.png')}}" width="25%"></li>
  </ul></p>
  <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_catsem') }}" target="_blank">Voir la documentation</a></p>
  <p style="text-align: center;padding:20px"><a href="{{ url_for('tutoriel_catsem') }}" target="_blank">Voir le tutoriel</a></p>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}