{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<style>
.list-item {
    list-style: none;
    padding: 0;
}

.item-list {
    list-style: none;
    padding: 0;
    margin-bottom: 2em;
}

.item-list li {
    margin: 10px;
    display: flex;
    align-items: center;
}

.item-list img {
    max-width: 130px; /* Ajustez la largeur maximale de l'image selon vos besoins */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 30px; /* Ajoute un espace entre l'image et le texte */
}

.item-list p {
    margin: 5px 0 0;
}
.item-list li:hover {
    color:#f2a800;
  cursor: pointer;
}

.item-list a:hover {
    color:#f2a800;
  cursor: pointer;
}

.item-list a {
    color:#263e8d;
}

</style>

<div class="outil">
  <div class="doc-intro">
  <h2 style="font-family:'Comprehension', serif;">{{ _('Code source') }}</h2>
  <p>Cette page répertorie les liens de tous les codes source et/ou sites officiels des outils présentés et utilisés dans la toolbox.</p>
  </div>
  <h3></h3>

  <div id="summary">
    <ul class="list-item">
        <li style="font-weight: bold;">{{ _('Reconnaissance automatique de texte (ATR)') }}</li>
        <ul class="item-list" style="margin-left: 3em;">
            <li>Tesseract &nbsp <a href="https://github.com/tesseract-ocr/tessdoc" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
            <li>eScriptorium &nbsp <a href="https://gitlab.com/scripta/escriptorium"><i class="fa-brands fa-gitlab"></i> {{ _('Code source') }}</a></li>
            <li>Transkribus &nbsp <a href="https://www.transkribus.org/">Site web</a></li>
        </ul>
        <li style="font-weight: bold;">{{ _('Conversion de formats') }}</li>
        <ul class="item-list" style="margin-left: 3em;">
            <li>Teinte &nbsp <a href="https://github.com/OBVIL/teinte_obtic" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
        </ul>
        <li style="font-weight: bold;">{{ _('Tâches d'annotation automatique') }}</li>
        <ul class="item-list" style="margin-left: 3em;">
            <li>Étiquetages morphosyntaxiques &nbsp <a href="https://github.com/YoannDupont/SEM" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
            <li>Textolab &nbsp <a href="https://github.com/obtic-sorbonne/Textolab/tree/dev" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
        </ul>
        <li style="font-weight: bold;">{{ _('Extraction d'information') }}</li>
        <ul class="item-list" style="margin-left: 3em;">
            <li>Extraction de mots-clés &nbsp <a href="https://github.com/MaartenGr/KeyBERT" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
            <li>Summarizer &nbsp <a href="https://github.com/obtic-sorbonne/Summarization" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
        </ul>
        <li style="font-weight: bold;">Visualisation</li>
        <ul class="item-list" style="margin-left: 3em;">
            <li>Tanagra &nbsp <a href="https://github.com/obtic-sorbonne/Tanagra" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
            <li>Renard &nbsp <a href="https://compnet.github.io/Renard/introduction.html" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
            <li>Minerva &nbsp <a href="https://github.com/YoannDupont/minerva" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
        </ul>
        <li style="font-weight: bold;">{{ _('Collecte de corpus') }}</li>
        <ul class="item-list" style="margin-left: 3em;">
            <li>Wikisource &nbsp <a href="https://fr.wikisource.org/wiki/Wikisource:Accueil">Site web</a></li>
            <li>Gallica &nbsp <a href="https://gallica.bnf.fr/">Site web</a></li>
        </ul>
        <li style="font-weight: bold;">{{ _('Correction textuelle') }}</li>
        <ul class="item-list" style="margin-left: 3em;">
            <li>Correction d’erreur &nbsp <a href="https://github.com/bakwc/JamSpell" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
            <li>Normalisa &nbsp <a href="https://github.com/ljpetkovic/Normalisa/tree/dev" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
        </ul>
        <li style="font-weight: bold;">{{ _('Chaînes de traitement') }}</li>
        <ul class="item-list" style="margin-left: 3em;">
            <li>Épiméthée &nbsp <a href="https://github.com/These-SCAI2023/EPIMETHEE" target="_blank"><i class="fa-brands fa-github"></i> {{ _('Code source') }}</a></li>
        </ul>
    </ul>
  </div>
</div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
