{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}

    <div class="outil" id="t3">
      <h2 style="font-family:'Comprehension', serif;">Conversion de formats</h2>
      <h4>Outil Teinte</h4>
      <p>L'outil <a href="https://obtic.huma-num.fr/teinte/" target="_blank">Teinte</a> permet de convertir de nombreux formats de fichiers vers les formats les plus couramment utilisés dans les humanités numériques : TEI, docx, html, epub, markdown.</p>

      <h4>Outil Pandore</h4>
      <p>L'outil ci-dessous permet de transformer un texte brut en format XML-TEI. Il est nécessaire de spécifier les métadonnées dans le formulaire ci-dessous. Se référer au manuel TEI (<a href="https://tei-c.org/release/doc/tei-p5-doc/fr/html/ref-fileDesc.html#:~:text=Il%20fournit%20le%20titre%20et,dans%20l'en%2Dt%C3%AAte." target="_blank">section fileDesc</a>) pour plus d'information sur les différents champs de l'en-tête.</p>
      <p>Le téléchargement du fichier XML-TEI généré démarrera automatiquement.</p>
      <div id="divform">

        <form action="{{ url_for('xmlconverter') }}" id="metadata-form" method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
        <div id="div-metadata" class="column">
          <fieldset>
          <legend>Métadonnées</legend>
          <p>Champ  titleStmt</p>
          <label for="title" style="display:inline-block;width:102px;">title *</label>
          <input type="text" name="title" id="title" required>
          <br/>
          <label for="author" style="display:inline-block;width:102px;">author</label>
          <input type="text" name="author" id="author">

          <p>Champ respStmt</p>
          <label for="nameresp" style="margin-left:12px;display:inline-block;width:90px;">name</label>
          <input type="text" name="nameresp" id="nameresp">
          <br/>
          <label for="resp" style="margin-left:12px;display:inline-block;width:90px;">resp</label>
          <input type="text" name="resp" id="resp">
          <br/>
          <label for="pubStmt">Champ publicationStmt *</label>
          <p style="font-size:8px;">Entrer les noms des éditeurs séparés par un retour à la ligne</p>
          <textarea cols="25" rows="3" id="pubStmt" name="pubStmt" placeholder="Publié par..." required></textarea>
          <br/>
          <label for="sourceDesc">Champ sourceDesc *</label>
          <textarea cols="25" rows="3" id="sourceDesc" name="sourceDesc" placeholder="Description bibliographique de la source" required></textarea>
          </fieldset>
        </div>

        <div id="div-upload" class="column">
          <fieldset style="padding:15px;">
          <legend>Chargement du fichier</legend>
          <input type="file" id="raw-text-file" name="file" accept=".txt" required>
          </fieldset>
          <input id="csrf_token" name="csrf_token" type="hidden" value="CSRF_TOKEN_STRING">
          <button style="display:block;margin:auto;margin-top:20px;">Convertir en XML-TEI</button>
        </div>
          </form>
      </div>
    </div>
{% endblock %}
