{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<!-- CREATION CORPUS -->
  <div class="outil">
    <div class="fil"><a href="{{ url_for('index')}}"><< Retour à l'accueil</a></div>
      <h3>Correction d'erreurs</h3>
      <p>Cet outil permet d'appliquer le correcteur orthographique <a href="https://jamspell.com/">JamSpell</a> sur des corpus bruités.</p>
      <p>Format d'entrée supporté : texte brut (.txt) </p>
      <p>Encodage : UTF-8</p>
      <div style="margin:15px;margin-bottom:100px;">
        <fieldset>
        <legend>Correction d'erreurs</legend>
        <form action="{{ url_for('autocorrect') }}" id="correction-form" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
          <input type="file" name="uploaded_files" accept="text/plain" multiple/>
          <input id="csrf_token" name="csrf_token" type="hidden" value="CSRF_TOKEN_STRING">
          <button style="display:inline-block;">Corriger</button>
        </form>
        </fieldset>
      </div>
  </div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}