{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<style>
.item-list {
    list-style: none;
    padding: 0;
}

.item-list li {
    margin: 10px;
    display: flex;
    align-items: center;
}

.item-list img {
    max-width: 130px; /* Ajustez la largeur maximale de l'image selon vos besoins */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 30px; /* Ajoute un espace entre l'image et le texte */
}

.item-list p {
    margin: 5px 0 0;
}
.item-list li:hover {
    color:#8A824C;
	cursor: pointer;
}

</style>

<div class="outil">
	<div class="doc-intro">
	<h2 style="font-family:'Comprehension', serif;">Documentation</h2>
	<p>La boîte à outils Pandore a été conçue de manière à prendre en entrée un corpus, quel qu'il soit, et de fournir directement le résultat des traitements de ce corpus.
		Ainsi, la plupart des outils se composent d'un champ de chargement de fichiers, avec d'éventuelles options à cocher, pour rendre la manipulation de ces outils très intuitive.<br>
		Les sections suivantes détaillent les utilisations possibles pour chaque outil de Pandore.</p>
	</div>
	<h3>Sommaire</h3>

	<div id="summary">
		<ul class="item-list">
			<li onclick="window.open('{{ url_for('documentation_ocr') }}');">
				<img src="{{ url_for('static', filename='img/manuscript-icon-small.png')}}" alt="OCR">
				<p>{{ _('Reconnaissance automatique de texte (ATR)') }}</p>
			</li>
			<li onclick="window.open('{{ url_for('documentation_pos_tagging') }}');">
				<img src="{{ url_for('static', filename='img/nuage_de_pos.png')}}">
				<p>{{ _('Étiquetage morphosyntaxique (POS-tagging)')}}</p>
			</li>
			<li onclick="window.open('{{ url_for('documentation_ren') }}');">
				<img src="{{ url_for('static', filename='img/ner.png')}}" alt="REN">
				<p>{{ _("Reconnaissance d'entités nommées (REN)") }}</p>
			</li>
			<li onclick="window.open('{{ url_for('documentation_keywords') }}');">
				<img src="{{ url_for('static', filename='img/keyword_extraction.png')}}">
				<p>{{ _('Extraction automatique de mots-clés') }}</p>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
