<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="utf-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/leaflet.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"></link>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"></link>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>Pandore toolbox</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/loader.css') }}">
  <script src="{{url_for('static', filename='js/loader.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>

</head>
<body>
{% block header %}
  <div class="logo">
   <a href="{{ url_for('index') }}"><img alt="ObTIC" src="{{url_for('static', filename='img/ObTIC-logo-white.png')}}"/>
   <h1 style="font-family:'Comprehension', serif;">Pandore toolbox</h1></a>
   <nav>
     <ul>
       <li><a href="{{ url_for('pandore')}}"><i class="fa-solid fa-box" style="margin-right:8px;"></i>Pandore</a></li>
       <li><a href="{{ url_for('outils') }}">{{ _('Outils') }}</a></li>
       <li><a href="{{ url_for('projet') }}" id="menu_projet">{{ _('Projet') }}</a></li>
       <li><a href="{{ url_for('documentation') }}">{{ _('Documentation') }}</a></li>
    </ul>
  </nav>
  </div>
  <div class="spacer">
    &nbsp;
  </div>
{% endblock %}
{% block content %}
<div class="main">
<h2 style="font-family:'Comprehension', serif;">{{ _('Pandore : une boîte à outil pour les humanités numériques') }}</h2>
  <div class="bandeau-accueil">
    <h3 style="font-family:'Comprehension', serif;">{{ _('Projet') }}</h3>
    <div class="box-1">
      <p>{{ _("Pandore offre un ensemble de modules permettant d'effectuer automatiquement les
  tâches les plus courantes liées au traitement de corpus pour la recherche en humanités
  numériques.") }} {{ _("Des chaînes de traitement permettant d'automatiser un ensemble de
  tâches sont également proposées.")}}</p>
    </div>
    <button>{{ _('Voir la démo') }}</button>
  </div>
  {% block mosaique %}
  <div class="bandeau-outils">
    <div class="container">
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('numeriser') }}';">
        <div class="rubrique-icon"><img alt="OCR/HTR" src="{{url_for('static', filename='img/ocr_icon.png')}}"></div>
        <span class="rubrique-title"><h3>OCR/HTR</h3></span>
        <span class="rubrique-text"><p>{{ _("Conversion d'images en texte") }}</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('conversion_xml') }}';">
        <div class="rubrique-icon"><img alt="Conversion de formats" src="{{url_for('static', filename='img/conversion-icon.png')}}"></div>
        <span class="rubrique-title"><h3>{{ _('Conversion de formats') }}</h3></span>
        <span class="rubrique-text"><p>{{ _('Formatage XML-TEI') }}, {{ _('conversion de divers formats de fichiers') }}.</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('outils_fouille') }}';">
        <div class="rubrique-icon"><img alt="Fouille et annotation de texte" src="{{url_for('static', filename='img/ner-icon.png')}}"></div>
        <span class="rubrique-title"><h3>{{ _('Fouille et annotation de texte') }}</h3></span>
        <span class="rubrique-text"><p>{{ _("Reconnaissance d'entités nommées") }}, {{ _('étiquetage morphosyntaxique')}}, {{ _('analyse de sentiments') }}</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('outils_visualisation')}}'">
        <div class="rubrique-icon"><img alt="Visualisation" src="{{url_for('static', filename='img/network-icon.png')}}"></div>
        <span class="rubrique-title"><h3>Visualisation</h3></span>
        <span class="rubrique-text"><p>Tanagra ({{ _('entités de lieux sur carte') }})<br/>Minerva ({{ _('réseaux de cooccurrences') }})<br/>Ariane (polarités textuelles)</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('collecter_corpus') }}';">
        <div class="rubrique-icon"><img alt="Collecte de corpus" src="{{url_for('static', filename='img/wiki-scraping-icon.png')}}"></div>
        <span class="rubrique-title"><h3>{{ _('Collecte de corpus') }}</h3></span>
        <span class="rubrique-text"><p>{{ _('Scraping personnalisé des corpus Wikisource') }}</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('outils_corpus') }}';">
        <div class="rubrique-icon"><img alt="Correction textuelle" src="{{ url_for('static', filename='img/spellcheck-icon.png') }}"></div>
        <span class="rubrique-title"><h3>{{ _('Correction textuelle') }}</h3></span>
        <span class="rubrique-text"><p>{{ _("Correction d'erreurs et normalisation pour corpus à la graphie non standard") }}</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('outils_pipeline') }}';">
        <div class="rubrique-icon"><img alt="Chaînes de traitement" src="{{url_for('static', filename='img/pipeline-icon.png')}}"></div>
        <span class="rubrique-title"><h3>{{ _('Chaînes de traitement') }}</h3></span>
        <span class="rubrique-text"><p>{{ _("Traitement automatique depuis l'OCR jusqu'à la reconnaissance d'entités et leur visualisation.") }}</p></span>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}
{% block footer %}
<div class="footer">
  <p><a href="https://github.com/obtic-scai/Toolbox-site"><i class="fa-brands fa-github"></i> Code source</a></p>
  <p>Site développé par l'équipe ObTIC et hébergé par Sorbonne Université. Ce site ne dépose pas de cookies.</p>
  <p>© 2022-2023 <a href="https://obtic.sorbonne-universite.fr/" target="_blank">ObTIC</a></p>
</div>
{% endblock %}
</body>
</html>
