<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="utf-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>Pandore toolbox</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/loader.css') }}">
  <script src="{{url_for('static', filename='js/loader.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>
<body>
{% block header %}
  <div class="logo">
   <a href="{{ url_for('index') }}"><img alt="ObTIC" src="{{url_for('static', filename='img/ObTIC-logo-white.png')}}"/>
   <h1 style="font-family:'Comprehension', serif;">Pandore toolbox</h1></a>
   <nav>
     <ul>
       <li><a href="{{ url_for('projet') }}" id="menu_projet">Projet</a></li>
       <li><a href="#">Outils</a></li>
       <li><a href="#">Documentation</a></li>
    </ul>
  </nav>
  </div>
  <div class="spacer">
    &nbsp;
  </div>
{% endblock %}
{% block content %}
<div class="main">
<h2 style="font-family:'Comprehension', serif;">Pandore : une boîte à outil pour les humanités numériques</h2>
  <div class="bandeau-accueil">
    <h3 style="font-family:'Comprehension', serif;">Projet</h3>
    <div class="box-1">
      <p>Pandore offre un ensemble de modules permettant d'effectuer automatiquement les
  tâches les plus courantes liées au traitement de corpus pour la recherche en humanités
  numériques. Des chaînes de traitement permettant d'automatiser un ensemble de
  tâches sont également proposées.</p>
    </div>
    <button>Voir la démo</button>
  </div>
  <div class="bandeau-outils">
    <div class="container">
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('numeriser') }}';">
        <div class="rubrique-icon"><img alt="OCR/HTR" src="{{url_for('static', filename='img/ocr_icon.png')}}"></div>
        <span class="rubrique-title"><h3>OCR/HTR</h3></span>
        <span class="rubrique-text"><p>Conversion d'images en texte</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('conversion_xml') }}';">
        <div class="rubrique-icon"><img alt="Conversion de formats" src="{{url_for('static', filename='img/conversion-icon.png')}}"></div>
        <span class="rubrique-title"><h3>Conversion de formats</h3></span>
        <span class="rubrique-text"><p>Formatage XML-TEI, conversion de divers formats de fichiers avec Teinte.</p></span>
      </div>
      <div class="box-outil-accueil shadow">
        <div class="rubrique-icon"><img alt="Fouille et annotation de texte" src="{{url_for('static', filename='img/ner-icon.png')}}"></div>
        <span class="rubrique-title"><h3>Fouille et annotation de texte</h3></span>
        <span class="rubrique-text"><p>Reconnaissance d'entités nommées, étiquetage morphosyntaxique, analyse de sentiments</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('outils_visualisation')}}'">
        <div class="rubrique-icon"><img alt="Visualisation" src="{{url_for('static', filename='img/network-icon.png')}}"></div>
        <span class="rubrique-title"><h3>Visualisation</h3></span>
        <span class="rubrique-text"><p>Tanagra (entités de lieux sur carte)<br/>Minerva (réseaux de cooccurrences)<br/>Ariane (polarités textuelles)</p></span>
      </div>
      <div class="box-outil-accueil shadow" onclick="window.location.href='{{ url_for('collecter_corpus') }}';">
        <div class="rubrique-icon"><img alt="Collecte de corpus" src="{{url_for('static', filename='img/wiki-scraping-icon.png')}}"></div>
        <span class="rubrique-title"><h3>Collecte de corpus</h3></span>
        <span class="rubrique-text"><p>Scraping personnalisé des corpus Wikisource</p></span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
