{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<div class="outil">
<h2 style="font-family:'Comprehension', serif;">Numériser (OCR/HTR)</h2>
<div class="tool-box">
    <h4>Tesseract OCR</h4>
    <p>L'outil <em><a href="https://tesseract-ocr.github.io/tessdoc/" target="_blank">Tesseract</a></em> permet de numériser des imprimés. Cet outil d'OCR est basé sur la technologie LSTM. Les <a href="https://github.com/tesseract-ocr/tessdata" target="_blank">modèles préentraînés</a> disponibles avec l'outil couvrent un large éventail de polices et sont disponibles pour de très nombreuses langues.</p>
    <p>Formats possibles pour les fichiers d'entrée : PNG, JPG, TIFF, PDF.</p>
    <div id="tess-form">
    <form action="{{ url_for('run_tesseract') }}" id="tesseract-form" method="post" enctype="multipart/form-data" onsubmit="showloader('tessloader')">
      {{ form.csrf_token }}
      <label for="model">Modèle</label>
      <select name="tessmodel" id="tessmodel" class="sel sel--black-panther">
        <option value="fra">Français (fra)</option>
        <option value="eng">Anglais (eng)</option>
        <option value="frk">Fraktur (frk)</option>
	      <option value="spa_old">Espagnol ancien (spa_old)</option>
      </select>
      <input type="file" name="tessfiles" accept="image/jpeg,image/png,application/pdf,image/tif,image/tiff" multiple required/>
      <input id="csrf_token" name="csrf_token" type="hidden" value="CSRF_TOKEN_STRING">
      <button>Numériser</button>
    </form>
    </div>
    <!-- Loader -->
    <div id="tessloader">
    <p>Traitement en cours...</p>
    <p>Vos fichiers apparaîtront une fois le traitement terminé.</p>
	  <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
	  </div>
	  <!--end div loader-->
  </div><!-- end div tool-box-->
  <div class="tool-box">
    <h4>eScriptorium (HTR)</h4>
    <p>Une instance eScriptorium hébergée par le <a href="https://scai.sorbonne-universite.fr/">SCAI</a> à l'initiative d'ObTIC est disponible à <a href="https://escriptorium.isir.upmc.fr/">cette adresse</a>. Merci de remplir le formulaire de contact pour demander la création d'un compte.</p>
  </div>
  <div class="tool-box">
    <h4>Transkribus</h4>
    <p>L'outil <a href="https://readcoop.eu/transkribus/">Transkribus</a> est une excellente alternative pour les tâches d'HTR. Payant au-delà d'un certain nombre de pages à numériser, il permet néanmoins d'entraîner rapidement des modèles performants. Une intéressante sélection de modèles pré-entraînés est également disponible.</p>
  </div>
</div>

<span class="trigger-panel" onclick="openNav()">Tâches suivantes  <i class="fa-solid fa-angles-right"></i></span>

<div id="task-panel-ocr" class="sidepanel">
  <span class="closebtn" onclick="closeNav()">&times;</span>
  <h3 style="font-family: 'Comprehension', serif;">Tâches suivantes</h3>
  <div><a href="{{ url_for('conversion_xml') }}">Convertir en XML-TEI</a></div>
  <div><a href="{{ url_for('entites_nommees') }}">Extraire les entités nommées</a></div>
  <div><a href="{{ url_for('etiquetage_morphosyntaxique') }}">Étiqueter en parties du discours</a></div>
</div>

<script>
  function openNav() {
    document.getElementById("task-panel-ocr").style.width = "250px";
  }
  
  /* Set the width of the sidebar to 0 (hide it) */
  function closeNav() {
    document.getElementById("task-panel-ocr").style.width = "0";
  }
  </script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
