{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<style>
  #tess-form{
    padding:35px;
    margin:20px auto;
    /*background-color:rgba(221, 201, 180, .3);*/
    width:800px;
    text-align: center;
  }

  .dropzone{
    margin:auto;
    margin-top: 8px;
  }

  button{
    display: block;
    margin:auto;
    margin-top: 8px;
  }
  
  #add_model{
    cursor:pointer;
  }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
  <div class="fil"><a href="{{ url_for('atr_tools')}}"><< Retour aux tâches</a></div>
<h2>{{ _('Numériser')}} (OCR/HTR)</h2>

<div class="tool-box">
    <h4>Tesseract OCR</h4>
    <p>{{ _ ("L'outil Tesseract") }} <a href="https://tesseract-ocr.github.io/tessdoc/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a> {{ _('permet de numériser des imprimés')}}. {{ _('Les modèles préentraînés') }} <a href="https://github.com/tesseract-ocr/tessdata" target="_blank"> ({{ _('liste ici')}} <i class="fa-solid fa-arrow-up-right-from-square"></i>)</a> {{ _("disponibles avec l'outil couvrent un large éventail de polices et sont disponibles pour de très nombreuses langues")}}. Pour les textes bilingues, il est possible d'utiliser conjointement deux modèles. Les modèles pour le chinois proviennent d'un <a href="https://github.com/gumblex/tessdata_chi" target="_blank">projet externe</a>.</p>
    <p style="text-align: center;padding:20px"><a href="{{ url_for('documentation_ocr') }}"  target="_blank">{{ _('Voir la documentation complète') }}</a></p>
    <div class="infos_outil">
      <p class="infos_title"><i class="fa-solid fa-circle-info"></i> {{ _("Informations sur l'outil") }}</p>
      <p>Tesseract version 4.0.0</p>
      <p>{{ _("Formats d'entrée :")}} <i class="fa-regular fa-image"></i> PNG, JPG, TIFF, PDF</p>
      <p>{{ _('Format généré :')}} <i class="fa-regular fa-file-lines"></i> {{ _('fichier TXT') }}</p>
      <p>Limite de taille : 50 Mo</p>
      </p>
    </div>
    <div id="tess-form">
    <form action="{{ url_for('run_tesseract') }}" id="tesseract-form" method="post" enctype="multipart/form-data" onsubmit="showloader('loader')">
      {{ form.csrf_token }}
      <label for="tessmodel">{{ _('Modèle') }}</label>
      <select name="tessmodel" id="tessmodel" class="sel sel--black-panther">
        <option value="fra" selected>{{ _('Français') }} (fra)</option>
        <option value="eng">{{ _('Anglais') }} (eng)</option>
        <option value="chi_sim">{{ _('Chinois simplifié') }} (chi_sim)</option>
        <option value="chi_tra">{{ _('Chinois traditionnel') }} (chi_tra)</option>
        <option value="spa">{{ _('Espagnol') }} (spa)</option>
	      <option value="spa_old">{{ _('Espagnol ancien') }} (spa_old)</option>
        <option value="frk">{{ _('Fraktur') }} (frk)</option>
        <option value="grc">{{ _('Grec ancien') }} (grc)</option>
        <option value="lat">{{ _('Latin') }} (lat)</option>
        <option value="por">{{ _('Portugais') }} (por)</option>
      </select><span style="padding:10px" id="add_model"><i class="fa-solid fa-circle-plus"></i> Ajouter</span>
      <div id="divmodel">
        <label for="model2">{{ _('Modèle') }}</label>
        <select name="tessmodel" id="model2" class="sel sel--black-panther">
          <option value="fra">{{ _('Français') }} (fra)</option>
          <option value="eng">{{ _('Anglais') }} (eng)</option>
          <option value="chi_sim">{{ _('Chinois simplifié') }} (chi_sim)</option>
          <option value="chi_tra">{{ _('Chinois traditionnel') }} (chi_tra)</option>
          <option value="spa">{{ _('Espagnol') }} (spa)</option>
          <option value="spa_old">{{ _('Espagnol ancien') }} (spa_old)</option>
          <option value="frk">{{ _('Fraktur') }} (frk)</option>
          <option value="grc">{{ _('Grec ancien') }} (grc)</option>
          <option value="lat">{{ _('Latin') }} (lat)</option>
          <option value="por">{{ _('Portugais') }} (por)</option>
        </select><span style="padding:10px" id="remove_model"><i class="fa-solid fa-circle-xmark"></i></span>
      </div>
      <div class="dropzone">
        <input type="file" name="tessfiles" id="tessfiles" accept="image/jpeg,image/png,application/pdf,image/tif,image/tiff" multiple required onchange="fileValidation()">
        <p id="form_msg">{{ _('Déposer le(s) fichier(s) ou cliquer ici.' )}}</p>
      </div>
      <input id="csrf_token" name="csrf_token" type="hidden" value="CSRF_TOKEN_STRING">
      <button>{{ _('Numériser') }}</button>
    </form>
    </div>
    <!-- Loader -->
    <div class="loader">
    <p>{{ _('Traitement en cours...') }}</p>
    <p>{{ _('Vos fichiers apparaîtront une fois le traitement terminé.') }}</p>
	  <div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div>
	  </div>
	  <!--end div loader-->
  </div><!-- end div tool-box-->
</div>

<span class="trigger-panel" onclick="openNav()">{{ _('Tâches suivantes')}}  <i class="fa-solid fa-angles-right"></i></span>

<div id="task-panel-ocr" class="sidepanel">
  <span class="closebtn" onclick="closeNav()">&times;</span>
  <h3 style="font-family: 'Comprehension', serif;">{{ _('Tâches suivantes')}}</h3>
  <div class="side-item"><a href="{{ url_for('conversion_xml') }}">{{ _('Convertir en XML-TEI') }}</a></div>
  <div class="side-item"><a href="{{ url_for('entites_nommees') }}">{{ _('Extraire les entités nommées') }}</a></div>
  <div class="side-item"><a href="{{ url_for('etiquetage_morphosyntaxique') }}">{{ _('Étiqueter en parties du discours') }}</a></div>
</div>

<script>
  $("#divmodel").hide();

  $('#add_model').click(function(){
    /* Filtrer la langue déjà sélectionnée */
    var lang_selected = $('#tessmodel').find(":selected").val();
    $("#divmodel").show();
    $("#model2 option[value='"+ lang_selected +"']").hide();
    $("#add_model").hide();
    
  });

  $("#tessmodel").change(function(){
    $("#model2 option").each(function()
    {
        $(this).show();
    });
    var lang_selected = $('#tessmodel').find(":selected").val();
    $("#model2 option[value='"+ lang_selected +"']").hide();
  });

  $("#model2").change(function(){
    $("#tessmodel option").each(function()
    {
        $(this).show();
    });
    var lang_selected = $('#model2').find(":selected").val();
    $("#tessmodel option[value='"+ lang_selected +"']").hide();
  });

  $('#remove_model').click(function(){
    var lang_selected = $('#tessmodel').find(":selected").val();
    $("#model2 option[value='"+ lang_selected +"']").show();
    $("#divmodel").hide();
    $("#add_model").show();
  });
  

  function openNav() {
    document.getElementById("task-panel-ocr").style.width = "300px";
  }
  
  /* Set the width of the sidebar to 0 (hide it) */
  function closeNav() {
    document.getElementById("task-panel-ocr").style.width = "0";
  }

  /* MAJ de la zone de glisser-déposer */ 
  $('form input').change(function () {

  var nb_files = this.files.length;
  $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

  /* Prévisualisation des fichiers chargés (max 3 visibles) */
  if(nb_files > 3){
      var num = nb_files - 3;
      for(i=0; i < 3; i++){
          $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
      }
      $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
  }
  else{
      for(i=0; i < nb_files; i++){
          $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
      }
  }
});

function fileValidation() {
  var fileInput = document.getElementById('tessfiles');
  var filePath = fileInput.value;       
  // Allowing file type
  var allowedExtensions = /(\.jpg|\.jpeg|\.|\.pdf|\.tif|\.tiff|\.png)$/i;
             
  if (!allowedExtensions.exec(filePath)) {
    alert("Ce type de fichier n'est pas reconnu. Extensions possibles : PNG, JPG, TIFF, PDF");
    fileInput.value = '';
                return false;
    } 
}

</script>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
