{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}

<div class="outil">
  <h3>Numérisation et reconnaissance d'entités nommées</h3>

  <h4>Tesseract OCR</h4>
  <p>L'outil Tesseract permet de numériser des fichiers imprimés.</p>
  <p>Formats possibles pour les fichiers d'entrée à OCRiser : PNG, JPG, TIFF, PDF.</p>
  <p>Formats possibles pour les fichiers d'entrée pour la REN seule : TXT.</p>
  <div id="tess-form">
    <fieldset>
      <legend>Tesseract</legend>
      <form action="{{ url_for('run_ocr_ner') }}" id="tesseract-form" method="post" enctype="multipart/form-data"
        onsubmit="showloader('tessloader')">
        {{ form.csrf_token }}
        <label for="model">Modèle</label>
        <select name="tessmodel" id="tessmodel">
          <option value="raw_text">Pas de numérisation</option>
          <option value="fra">Français (fra)</option>
          <option value="eng">Anglais (eng)</option>
          <option value="frk">Fraktur (frk)</option>
          <option value="spa_old">Espagnol ancien (spa_old)</option>
        </select>
    </fieldset>
    <fieldset>
      <legend>Configuration NER</legend>
      <label for="encodage" style="display:inline-block;width:110px;">Encodage</label>
      <input type="text" name="encodage" id="encodage" value="UTF-8" required>
      <label for="moteur_REN" style="display:inline-block;width:110px;">Moteur de REN</label>
      <select name="moteur_REN" id="moteur_REN" onchange="detectChangeMoteur(this)">
        <option value="spacy" selected="true">SpaCy</option>
        <option value="flair">Flair</option>
      </select>
      <br />
      <label for="modele_REN" style="display:inline-block;width:110px;">Modèle à utiliser</label>
      <select name="modele_REN" id="modele_REN" onchange="detectChange(this)">
        <option value="fr_core_news_sm">fr_core_news_sm</option>
        <option value="fr_core_news_md">fr_core_news_md</option>
        <option value="fr_core_news_lg" selected="true">fr_core_news_lg</option>
      </select>
      <br />
    </fieldset>
    <fieldset>
      <legend>Entrée</legend>
      <input type="file" name="inputfiles" accept="image/jpeg,image/png,application/pdf,image/tif,image/tiff,text/plain" multiple
        required />
      <br />
    </fieldset>
    <input id="csrf_token" name="csrf_token" type="hidden" value="CSRF_TOKEN_STRING">
    <button style="display:block;margin:auto;">Traiter</button>
    </form>
  </div>
  <!-- Loader -->
  <div id="tessloader">
    <p>Traitement en cours...</p>
    <div class="loadingio-spinner-ball-205vl2x7f7n">
      <div class="ldio-b8p5li8dt1u">
        <div></div>
      </div>
    </div>
  </div>
  <!--end div loader-->

  <!--<h4>Kraken</h4>-->

</div>
{% endblock %}
