{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<div class="outil">
    <h2 style="font-family:'Comprehension', serif;">{{ _('Tâches et outils') }}</h2>
    <div class="div-search-form">
        <input type="text" name="searchField" id="searchField" onkeyup="searchTask()" />
        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div><p class="filter-box" id="obtic_filter_button" onclick="filterObtic(this)">{{ _('Outils ObTIC') }}</p></div>

    <div class="two-columns-container">
        <div class="col-list">
            <h3 style="padding:5px">{{ _('Tâches') }}</h3>
            <ul id="task-list">
                <li class="obtic-tool"><a href="{{ url_for('categories_semantiques') }}">{{ _("Analyse d'opinion et de sentiments") }}</a></li>
                <!--<li class="obtic-tool"><a href="{{ url_for('categories_semantiques') }}">{{ _("Analyse de sentiments") }}</a></li>-->
                <li><a href="{{ url_for('collecter_corpus') }}">{{ _("Collecte de corpus (scraping)") }}</a></li>
                <li class="obtic-tool"><a href="{{ url_for('conversion_xml') }}">{{ _("Conversion de formats de fichiers") }}</a></li>
                <li class="obtic-tool"><a href="{{ url_for('conversion_xml') }}">{{ _("Conversion XML-TEI") }}</a></li>
                <!--<li><a href="{{ url_for('correction_erreur')}}">{{ _("Correction de corpus bruités")}}</a></li>-->
                <li class="obtic-tool"><a href="{{ url_for('ocr_map')}}">{{ _("Entités de lieu") }}</a></li>
                <li class="obtic-tool"><a href="https://obtic.sorbonne-universite.fr/tanagra">{{ _("Entités de lieu") }} (Tanagra)</a></li>
                <li><a href="{{ url_for('etiquetage_morphosyntaxique')}}">{{ _("Étiquetage morphosyntaxique (POS-tagging)") }}</a></li>
                <li><a href="{{ url_for('extraction_mots_cles')}}">{{ _("Extraction automatique de mots-clés") }}</a></li>
                <li><a href="{{ url_for('numeriser') }}">{{ _("HTR (reconnaissance de texte manuscrit)") }}</a></li>
                <!--<li><a href="#">Lecture distante</a></li>-->
                <li><a href="{{ url_for('normalisation') }}">{{ _('Normalisation de graphie ancienne')}}</a></li>
                <li><a href="{{ url_for('numeriser') }}">OCR ({{ _('reconnaissance optique de caractères')}})</a></li>
                <li><a href="{{ url_for('entites_nommees') }}">{{ _("Reconnaissance d'entités nommées (REN)")}}</a></li>
                <li class="obtic-tool"><a href="{{ url_for('outils_visualisation') }}">{{ _('Réseaux de cooccurrences')}}</a></li>
                <li class="obtic-tool"><a href="{{ url_for('resume_automatique') }}">{{ _('Résumé automatique')}}</a></li>
                <li><a href="{{ url_for('topic_modelling') }}">{{ _("Modèle thématique (topic modelling)")}}</a></li>
                <li class="obtic-tool"><a href="{{ url_for('outils_visualisation') }}">Visualisation</a></li>
            </ul>
        </div>
        <div class="col-list">
            <h3 style="padding:5px">{{ _('Outils') }}</h3>
            <ul id="tool-list">
                <li><a href="{{ url_for('entites_nommees') }}">{{ _("Camembert NER") }}</a></li>
                <!--<li><a href="{{ url_for('correction_erreur') }}">Jamspell</a></li>-->
                <li><a href="{{ url_for('extraction_mots_cles') }}">KeyBERT</a></li>
                <!--<li><a href="#">Kraken</a></li>-->
                <li class="obtic-tool"><a href="{{ url_for('ocr_map')}}">Épiméthée</a></li>
                <li><a href="{{ url_for('entites_nommees') }}">Flair (NER)</a></li>
                <!--<li><a href="{{ url_for('ocr_map') }}">GeoPy</a></li>-->
                <li><a href="{{ url_for('renard') }}">Renard</a></li>
                <li><a href="{{ url_for('etiquetage_morphosyntaxique') }}">SEM</a></li>
                <li><a href="{{ url_for('entites_nommees') }}">Spacy (NER)</a></li>
                <li class="obtic-tool"><a href="https://obtic.sorbonne-universite.fr/summary/">Summarizer</a></li>
                <li class="obtic-tool"><a href="https://pandore-toolbox.isir.upmc.fr/tanagra">Tanagra</a></li>
                <li class="obtic-tool"><a href="https://obtic.huma-num.fr/teinte/">Teinte</a></li>
                <li><a href="{{ url_for('numeriser') }}">Tesseract OCR</a></li>
                <li class="obtic-tool"><a href="{{ url_for('categories_semantiques')}}">Textolab</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    function searchTask() {
        var input, filter, ul_task, li_task, ul_tool, li_tool, a, i, txtValue;
        input = document.getElementById('searchField');
        filter = input.value.toUpperCase();
        ul_task = document.getElementById('task-list');
        ul_tool = document.getElementById('tool-list');
        li_task = ul_task.getElementsByTagName('li');
        li_tool = ul_tool.getElementsByTagName('li');

        for (i=0; i < li_task.length; i++){
            a = li_task[i].getElementsByTagName('a')[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li_task[i].style.display = "";
            } else {
                li_task[i].style.display = "none";
            }
        }
        for (i=0; i < li_tool.length; i++){
            a = li_tool[i].getElementsByTagName('a')[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li_tool[i].style.display = "";
            } else {
                li_tool[i].style.display = "none";
            }
        }
    }

    function filterObtic(elem){
        if($(elem).hasClass('fselected')){
            $('li').show();
            $(elem).removeClass('fselected');
        }
        else{
           /* Show Obtic tools only*/
            $(elem).addClass('fselected');
            $('li').show().filter(':not(.obtic-tool)').hide();
        }
    }

</script>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}

