{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}

<div class="presentation">
    <h2 style="font-family:'Comprehension', serif;font-size:32px;">Le projet</h2>
    <div class="rubrique">
      <p>La boîte à outils Pandore a été conçue par les membres de l'équipe-projet <em><a href="https://obtic.sorbonne-universite.fr/" target="_blank">ObTIC</a></em> (SCAI - Sorbonne Université).<br/>
        Il s'agit d'une interface qui permet d'utiliser en ligne un ensemble d'outils de manipulation et de traitement de corpus textuels. Les tâches couvertes sont les tâches essentielles le plus souvent réalisées dans les études de corpus : la numérisation (OCR/HTR), la conversion entre différents formats de données (notamment XML-TEI), l'analyse automatique du texte (reconnaissance d'entités nommées) et la visualisation des données.</p>
      <p>Les fonctionnalités implémentées sont basées soit sur des outils externes donnant des résultats état de l'art dans les tâches concernées, soit sur des scripts ou applications développés par l'équipe ObTIC (Ariane, Tanagra, etc).</p>
    </div>
    <h2 style="font-family:'Comprehension', serif;font-size:32px;">L'équipe</h2>
    <div class="rubrique">
    <ul>
    <li><em>Glenn Roe</em>, professeur, Sorbonne Université (responsable du projet, conception)</li>
    <li><em>Motasem Alrahabi</em>, ingénieur de recherche, Sorbonne Université (conception, développement)</li>
    <li><em>Johanna Cordova</em>, ingénieure d'étude, Sorbonne Université (conception, développement)</li>
    <li><em>Yoann Dupont</em>, ancien membre ObTIC post-doctorant (conception, développement)</li>
    <li><em>Ljudmila Petković</em>, doctorante, Sorbonne Université (développement)</li>
    <li><em>Caroline Parfait</em>, doctorante, Sorbonne Université (développement)</li>
    <li><em>James Gawley</em>, post-doctorant, Sorbonne Université (développement)</li>
  </ul>
  </div>
    <h2 style="font-family:'Comprehension', serif;font-size:32px;">Publications</h2>
    <div class="rubrique">
      <ul>
        <li>Motasem ALRAHABI, Valentina FEDCHENKO, Ljudmila PETKOVIC, Glenn ROE. Pandore: a toolbox for digital humanities text-based workflows. [soumission acceptée <a href="https://dh2023.adho.org/?page_id=390" target="_blank">DH2023</a>]
        <li>Johanna Mayra Cordova, Yoann Dupont, Ljudmila Petkovic, James Gawley, Motasem Alrahabi, et al.. Toolbox : une chaîne de traitement de corpus pour les humanités numériques. <i>Traitement Automatique des Langues Naturelles</i>, 2022, Avignon, France. pp.11-13. ⟨<a href="https://hal.archives-ouvertes.fr/TALN-RECITAL2022/hal-03701464" target="_blank">hal-03701464</a>⟩</li>
      </ul>
    </div>
</div>

<div style="height:250px;margin:auto;display: flex;justify-content: left;">
  <a href="https://www.sorbonne-universite.fr/" target="_blank"><img src="{{ url_for('static', filename='img/ObTIC-logo-blue-1-1.svg') }}" height="100px" style="margin:15px;"/></a>
  <a href="https://obtic.sorbonne-universite.fr/" target="_blank"><img src="{{ url_for('static', filename='img/Lettres_su_logo_transparent.png')}}" height="100px" style="margin:15px;"/></a>
</div>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}