{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/elements.css') }}">
<div class="outil">
    <!--<div class="fil"><a href="{{ url_for('pandore')}}"><< Retour aux outils</a></div>-->
    <h2 style="font-family:'Comprehension', serif;">Topic Modelling</h2>
    <div class="doc-box"><p>Documentation <span class="lil-arrow"></span></p></div>
    <div class="local-doc">
        <p>La modélisation de thématiques consiste à identifier dans un corpus les groupes de termes représentatifs des thèmes de celui-ci. Pour extraire ces informations, il existe plusieurs méthodes de calcul, détaillées ci-dessous. Leur efficacité respective dépendra du type de corpus et du type d'information recherchée. Globalement, NMF est plus performant sur les textes courts [<a href="https://www.sciencedirect.com/science/article/pii/S0950705118304076" target="_blank">réf</a>].</p>
        <ul>
            <li>Factorisation par matrices non négatives (NMF) : calcule en observant la fréquence et la répartition des termes dans chaque document par rapport au corpus global.</li>
            <li>Allocation de Dirichlet latente (LDA) : calcule en se basant sur des hypothèses statistiques de présence de thématiques par document.</li>
        </ul>
        <div>
            <p>Format d'entrée : ensemble de fichiers au format texte (.txt)</p>
            <p>Format de sortie : fichier CSV contenant les ensembles de mots-clés formant les thématiques détectées. Le nombre de thématiques dépend du nombre de document présents dans le corpus, mais est plafonné à 8.</p>
        </div>
    </div>
    <div class="container_two_columns">
        <div class="item">
            <h3>Chargement des fichiers</h3>
            <form action="{{ url_for('topic_extraction') }}" method="post" enctype="multipart/form-data" class="drag-drop-form" id="tm_form">
                {{ form.csrf_token }}
                <div class="form_opt">
                <fieldset>
                    <legend>Options</legend>
                    <div style="padding:5px;">
                        <span>Méthodes de calcul des thématiques : </span>
                        <input type="checkbox" name="modelling-method" value="nmf" id="nmf" checked><label for="nmf">NMF</label>
                        <input type="checkbox" name="modelling-method" value="lda" id="lda" checked><label for="lda">LDA</label>
                    </div>
                        <label class="switch">
                            <span style="margin-left:72px;cursor: pointer;">Lemmatisation</span>
                            <input type="checkbox" name="lemma-opt" id="lemma_opt" onchange="optChanged()">
                            <span class="slider round"></span>
                        </label>
                        <span class="time_alert"><i class="fa-solid fa-triangle-exclamation"></i> Le traitement peut être très long.</span>
                </fieldset>
                </div>
                <div class="dropzone">
                <input type="file" name="topic_model" accept="text/plain" multiple required>
                <p id="form_msg">Déposer le(s) fichier(s) ou cliquer ici.</p>
                </div>
                <input id="csrf_token" name="csrf_token" type="hidden" value="CSRF_TOKEN_STRING">
                <button type="submit">Envoyer</button>
            </form>
        </div>
        <div class="item">
            <h3>Résultats</h3>
            <div class="loader"><div class="loadingio-spinner-ball-205vl2x7f7n"><div class="ldio-b8p5li8dt1u"><div></div></div></div><p>Traitement en cours...</p></div>
            {% if msg != "" %}
            <p>{{ msg }}</p>
            {% endif %}
            <table>
                <tr>
                    {% for method in res.keys() %}
                    <th>{{ method|upper }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for method, topics in res.items() %}
                    <td>{% for id, terms in topics.items() %}{{ terms }}<br>{% endfor %}</td>
                    {% endfor %}
                </tr>
            </table>
            <button class="download-button" id="download_btn" onclick="download_res({{ res }})"><i class="fa-solid fa-download"></i> Télécharger</button>
        </div>
    </div>


    <script>
    $(document).ready(function(){

        /* MAJ de la zone de glisser-déposer */ 
        $('form input').change(function () {

            var nb_files = this.files.length;
            $('form #form_msg').text(nb_files + " fichier(s) selectionné(s)");

            /* Prévisualisation des fichiers chargés (max 3 visibles) */
            if(nb_files > 3){
                var num = nb_files - 3;
                for(i=0; i < 3; i++){
                    $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
                }
                $("#form_msg").append('<span class="filename_preview"> et ' + num + ' autres.</span>');
            }
            else{
                for(i=0; i < nb_files; i++){
                    $("#form_msg").append('<br/><span class="filename_preview">' + this.files[i].name + '</span>');
                }
            }
        });

        /* Vérification options cochées */
        $("#tm_form").submit(function(){
            var checked = $("#tm_form input:checked").length > 0;
            if (!checked){
                alert("Choisir une méthode d'extraction.");
                return false;
            }
            else{
                $(".loader").css("display", "block");
            }
        });


        /* Affichage de la documentation */
        $(function () {$(".doc-box").click(function () {
            if($( ".local-doc" ).css( "display" ) == 'none')
            {
                $( ".local-doc" ).css( "display", "block" );
            }
            else{
                $( ".local-doc" ).css( "display", "none" );
            }
            });
        });
    });

    /* Affichage de l'alerte de temps pour l'option lemmatisation */
    function optChanged()
    {
        if($('#lemma_opt').is(":checked"))   
            $(".time_alert").css("display", "inline-block");
        else
            $(".time_alert").css("display", "none");
    }

    function receiveFlask(vars) {
        return vars
    }

    var res = receiveFlask({{res|tojson}})

    /* Affichage du bouton de téléchargement */
    if (Object.keys(res).length > 0){
        $( ".loader" ).css("display", "none");
        $( "#download_btn" ).css( "display", "block" );
    }

    function download_res(res){
        var file_content = "";

        if(res.hasOwnProperty("nmf")){
            var header = "cluster_id\tNMF\n";
            var content = "";
            var terms = res['nmf'];
            for(var id in terms){
                content += id + '\t' + terms[id] + '\n';
            }
            file_content += header + content;
        }

        if(res.hasOwnProperty("lda")){
            var terms_lda = res['lda'];
            var header_lda = "cluster_id\tLDA\n";
            var content_lda = "";

            for(var id_lda in terms_lda){
                content_lda += id_lda + '\t' + terms_lda[id_lda] + '\n';
            }

            file_content += header_lda + content_lda;
        }
        
        /* Génère le lien de téléchargement */
        var a = window.document.createElement('a');
        a.href = window.URL.createObjectURL(new Blob([file_content], {type: 'text/csv'}));
        a.download = 'topics.csv';

        // Append anchor to body.
        document.body.appendChild(a);
        a.click();

        // Remove anchor from body
        document.body.removeChild(a);
    }

    </script>
</div>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}