{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
<div class="selection">
  <div style="text-align: left;"><a href="{{ url_for('information_extraction')}}" style="color:#f2a800; text-decoration:none;"><< {{ _('Tâche précédente') }}</a></div>
    <div style="text-align: right;"><a href="{{ url_for('search_tools')}}" style="color:#f2a800; text-decoration:none;">{{ _('Tâche suivante') }} >></a></div>
  <h2>{{ _("Analyses") }}</h2>
  <p style="text-align: center;">{{ _("Cette page propose plusieurs analyses à effectuer sur un texte") }}</p>
  <div class="container">
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('linguistic_analysis') }}'">
      <div class="rubrique-icon"><img alt="Analyse linguistique" src="{{ url_for('static', filename='img/icons/analyse-linguistique.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>{{ _("Analyse linguistique") }}</h3></span>
      <span class="rubrique-text"><p>{{ _("Détection du language") }}, Hapax, N-Grams, {{ _("Analyse des dépendances") }}</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('statistic_analysis') }}'">
      <div class="rubrique-icon"><img alt="Analyse statistique" src="{{ url_for('static', filename='img/icons/analyse-statistique.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>{{ _("Analyse statistique") }}</h3></span>
      <span class="rubrique-text"><p>{{ _("Longueur moyenne des phrases") }}, {{ _("Fréquence de mots") }}, {{ _("Co-occurrences") }}</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('lexical_analysis') }}'">
      <div class="rubrique-icon"><img alt="Analyse lexicale" src="{{ url_for('static', filename='img/icons/analyse-lexicale.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>{{ _("Analyse lexicale") }}</h3></span>
      <span class="rubrique-text"><p>{{ _("Dispersion lexicale") }}, {{ _("Diversité lexicale") }}, {{ _("Spécificités lexicales") }}</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('text_analysis') }}'">
      <div class="rubrique-icon"><img alt="Analyse de texte" src="{{ url_for('static', filename='img/icons/analyse-de-texte.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>{{ _("Analyse de texte") }}</h3></span>
      <span class="rubrique-text"><p>{{ _("Détection de subjectivité") }}, {{ _("Analyse de sentiments") }}, {{ _("Analyse d'émotions") }}, {{ _("Score de lecture") }}</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('comparison') }}'">
      <div class="rubrique-icon"><img alt="Comparaison" src="{{ url_for('static', filename='img/icons/comparison.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>{{ _("Comparaison") }}</h3></span>
      <span class="rubrique-text"><p>{{ _("Comparaison de textes") }}</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('embeddings') }}'">
      <div class="rubrique-icon"><img alt="Embeddings" src="{{ url_for('static', filename='img/icons/cluster.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>{{ _("Embeddings") }}</h3></span>
      <span class="rubrique-text"><p>{{ _("Similarités") }}, Relations, Clustering</p></span>
    </div>
    <div class="box-outil-accueil" onclick="window.location.href='{{ url_for('lexical_relationship') }}'">
      <div class="rubrique-icon"><img alt="Analyse lexicale" src="{{ url_for('static', filename='img/icons/relations-lexicales.png')}}" width="100%"></div>
      <span class="rubrique-title"><h3>{{ _("Relations lexicales") }}</h3></span>
      <span class="rubrique-text"><p>{{ _("Synonymes") }}, {{ _("Antonymes") }}, {{ _("Hyponymes") }}, {{ _("Hyperonymes") }}, {{ _("Méronymes") }}, {{ _("Holonymes") }}</p></span>
    </div>
  </div>
    <br>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}