{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
  <div class="selection">
    <div style="text-align: left;"><a href="{{ url_for('conversion')}}" style="color:#263e8d; text-decoration:none;"><< {{ _('Tâche précédente') }}</a></div>
    <div style="text-align: right;"><a href="{{ url_for('information_extraction')}}" style="color:#263e8d; text-decoration:none;">{{ _('Tâche suivante') }} >></a></div>
    <h2>{{ _("Tâches d'annotation automatique") }}</h2>
    <p style="text-align: center;">{{ _("Cette page répertorie diverses manières d'annoter automatiquement un texte") }}.</p>
    <div class="container">
      <a class="box-outil-accueil" href="{{ url_for('partofspeech_tagging') }}">
        <div class="rubrique-icon"><img alt="" src="{{url_for('static', filename='img/icons/pos.png')}}"></div>
        <h3 class="rubrique-title">{{ _('Étiquetage morphosyntaxique') }}</h3>
        <span class="rubrique-text"><p>{{ _("Annotation de la catégorie grammaticale de chaque mot d'un texte") }}</p></span>
      </a>
      <a class="box-outil-accueil" href="{{ url_for('named_entities_recognition') }}">
        <div class="rubrique-icon"><img alt="" src="{{url_for('static', filename='img/icons/ner.png')}}"></div>
        <h3 class="rubrique-title">{{ _("Reconnaissance d'entités nommées") }}</h3>
        <span class="rubrique-text"><p>{{ _("Identification des entités nommées d'un corpus en choissisant son modèle (Spacy, Flair ou Bert)") }}</p></span>
      </a>
      <a class="box-outil-accueil" href="{{ url_for('semantic_categories') }}">
        <div class="rubrique-icon"><img alt="" src="{{ url_for('static', filename='img/icons/catsem.png')}}"></div>
        <h3 class="rubrique-title">{{ _('Catégories sémantiques') }}</h3>
        <span class="rubrique-text"><p>{{ _("Localisation, grâce à l'outil Textolab, de patrons linguistiques") }}</p></span>
      </a>
    </div>
  </div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}