{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
  <div class="selection">
    <div style="text-align: left;"><a href="{{ url_for('automatic_annotation')}}" style="color:#263e8d; text-decoration:none;"><< {{ _('Tâche précédente') }}</a></div>
    <div style="text-align: right;"><a href="{{ url_for('analyses')}}" style="color:#263e8d; text-decoration:none;">{{ _('Tâche suivante') }} >></a></div>
    <h2 style="font-family:'Comprehension', serif;">{{ _("Extraction d'information") }}</h2>
    <p style="text-align: center;">{{ _("Cette page répertorie diverses manières d'extraire des informations d'un document") }}.</p>
    <div class="container">
    <a class="box-outil-accueil" href="{{ url_for('keywords_extraction') }}">
      <div><img alt="" src="{{ url_for('static', filename='img/icons/keywords.png')}}" width="60%" style="display: block; margin: 1em auto 1em auto;"></div>
      <h3 class="rubrique-title">{{ _('Extraction de mots-clés') }}</h3>
      <span class="rubrique-text"><p>{{ _("Identification des termes les plus représentatifs du contenu d'un document ou d'un corpus") }}</p></span>
    </a>
    <a class="box-outil-accueil" href="{{ url_for('topic_modelling') }}">
      <div class="rubrique-icon"><img alt="" src="{{ url_for('static', filename='img/icons/topic.png')}}"></div>
      <h3 class="rubrique-title">{{ _('Topic Modelling') }}</h3>
      <span class="rubrique-text"><p>{{ _('Identification, dans un corpus, des groupes de termes représentatifs de ses thèmes') }}</p></span>
    </a>
    <a class="box-outil-accueil" href="{{ url_for('quotation_extraction') }}">
      <div class="rubrique-icon"><img alt="" src="{{ url_for('static', filename='img/icons/quotation.png') }}" width="100%"></div>
      <h3 class="rubrique-title">{{ _('Quotation extraction') }}</h3>
      <span class="rubrique-text"><p>{{ _("Extraction d'extraits de texte, généralement entre guillemets, qui représentent les mots de quelqu'un d'autre") }}</p></span>
    </a>
    <a class="box-outil-accueil" href="{{ url_for('summarizer') }}">
      <div class="rubrique-icon"><img alt="" src="{{ url_for('static', filename='img/icons/summarize.png') }}" width="100%"></div>
      <h3 class="rubrique-title">Summarizer</h3>
      <span class="rubrique-text"><p>{{ _('Résumer automatiquement des documents en anglais aux formats texte brut ou XML') }}</p></span>
    </a>
  </div>
  </div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}