{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}
{% block content %}
<div class="selection">
  <div style="text-align: left;"><a href="{{ url_for('atr_tools')}}" style="color:#263e8d; text-decoration:none;"><< {{ _('Tâche précédente') }}</a></div>
    <div style="text-align: right;"><a href="{{ url_for('conversion')}}" style="color:#263e8d; text-decoration:none;">{{ _('Tâche suivante') }} >></a></div>
  <h2>{{ _("Prétraitement") }}</h2>
  <p style="text-align: center;">{{ _("Cette page répertorie divers outils pour préparer et/ou nettoyer son texte avant de conduire une quelconque analyse") }}</p>
  <div class="container">
    <a class="box-outil-accueil" href="{{ url_for('error_correction') }}">
      <div class="rubrique-icon"><img alt="" src="{{ url_for('static', filename='img/icons/verification-du-texte.png') }}"></div>
      <h3 class="rubrique-title">{{ _("Correction d'erreurs") }}</h3>
      <span class="rubrique-text"><p>{{ _("Post traitement des sorties d'OCR ou amélioration de corpus bruités") }}.</p></span>
    </a>
    <a class="box-outil-accueil" href="{{ url_for('text_cleaning') }}">
      <div class="rubrique-icon"><img alt="" src="{{ url_for('static', filename='img/icons/text_cleaning.png')}}"></div>
      <h3 class="rubrique-title">{{ _('Nettoyage de texte') }}</h3>
      <span class="rubrique-text"><p>{{ _('Mise en minuscule, suppression des mots vides et de la punctuation') }}</p></span>
    </a>
    <a class="box-outil-accueil" href="{{ url_for('text_normalisation') }}">
      <div class="rubrique-icon"><img alt="" src="{{ url_for('static', filename='img/icons/text_normalisation.png')}}"></div>
      <h3 class="rubrique-title">{{ _('Normalisation de texte') }}</h3>
      <span class="rubrique-text"><p>{{ _('Tokenisation et Lemmatisation') }}</p></span>
    </a>
    <a class="box-outil-accueil" href="{{ url_for('text_separation') }}">
      <div class="rubrique-icon"><img alt="" src="{{ url_for('static', filename='img/icons/text_separation.png')}}"></div>
      <h3 class="rubrique-title">{{ _('Séparation de texte') }}</h3>
      <span class="rubrique-text"><p>{{ _('Identification et séparations de phrases et/ou lignes individuelles dans un texte continu') }}</p></span>
    </a>
</div>
</div>
{% endblock %}
{% block footer %} {{ super() }} {% endblock %}