{% extends "index.html" %}
{% block header %} {{ super() }} {% endblock %}

{% block content %}
<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
</style>
<div class="selection">
  <div style="text-align: left;"><a href="{{ url_for('analyses')}}" style="color:#f2a800; text-decoration:none;"><< {{ _('Tâche précédente') }}</a></div>
    <div style="text-align: right;"><a href="{{ url_for('outils_visualisation')}}" style="color:#f2a800; text-decoration:none;">{{ _('Tâche suivante') }} >></a></div>
  <h2>{{ _('Exploration') }}</h2>
  <p style="text-align: center;">{{ _("Cette page propose plusieurs outils pour explorer en profondeur des corpus de texte") }}.</p>
  <div class="container-visu">

    <div class="box-outil-visu">
      <div class="visu-icon"><a href="https://obtic.huma-num.fr/ariane/" target="_blank"><img alt="Ariane" src="{{ url_for('static', filename='img/ariane_small.jpg') }}" class="center"></a></div>
      <span class="visu-title"><a href="https://obtic.huma-num.fr/ariane/" target="_blank"><h3 style="font-family:'Comprehension', serif;">Ariane</h3></a></span>
      <span class="visu-text"><p>{{ _("Ariane est une interface web pour l'exploration et la visualisation de corpus annotés") }}. {{ _("Elle permet de rechercher des mots au sein de passages annotés selon une ontologie linguistique (sentiments, opinions, etc.)") }}. {{ _("L'interface propose des statistiques et des visualisations autour des résultats, ainsi que des fonctionnalités de filtrage et de lecture synthétique") }}.</p></span>
    </div>

    <div class="box-outil-visu">
      <div class="visu-icon"><a href="https://obtic.huma-num.fr/gallica-obvie/" target="_blank"><img alt="Gallica-Obvie" src="{{ url_for('static', filename='img/icons/gallica-obvie.png') }}" class="center"></a></div>
      <span class="visu-title"><a href="https://obtic.huma-num.fr/gallica-obvie/" target="_blank"><h3 style="font-family:'Comprehension', serif;">Gallica-Obvie</h3></a></span>
      <span class="visu-text"><p>{{ _('Gallica-Obvie est un prototype en ligne qui permet de collecter des données textuelles à partir de Gallica, et de les indexer directement dans la plateforme Obvie') }}. {{ _('Il suffit de saisir quelques identifiants de Gallica (les arks) pour obtenir les résultats') }}.</p></span>
    </div>
  </div>
</div>
{% endblock %}